<div class="filter-bar w-100">
  <div class="form-group mb-0">

    <BsDropdown @class="w-100" as |dd|>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <FaIcon @icon='search'/>
          </div>
        </div>

        <Input @value={{filter}} class="filter-bar-filter form-control" placeholder="Zoeken" @enter={{enter}} />

        <div class="input-group-append">
          <dd.button @type="button">
            {{#if sortedAscending}}
              <FaIcon @icon='sort-amount-up'/>
            {{else}}
              <FaIcon @icon='sort-amount-down'/>
            {{/if}}
          </dd.button>

          <dd.menu as |ddm|>
            <div class="ml-2 text-muted text-bold"> Sorteren </div>

            <ddm.item>
              <ModelForm::RadioGroup @model={{this}} @property="sortedAttribute" @options={{sortableAttributes}} @inputLayout="vertical" @label={{null}} @inputIdentifier="filter" @required={{false}} @class="sort-radio-group" />
            </ddm.item>

            {{menu.divider}}

            <ddm.item>
              <div class="form-check">
                <label for="sort-order" class="form-check-label">
                  <Input @type="checkbox" @id="sort-order" @checked={{sortedAscending}} class="filter-bar-sorted-ascending form-check-input" />
                  Oplopend
                  <div class="custom-checkmark"></div>
                </label>
              </div>
            </ddm.item>

            {{yield}}
          </dd.menu>
        </div>
      </div>
    </BsDropdown>

  </div>
</div>
