<nav class="navbar container-fluid pb-0 pt-0 d-flex justify-content-between" aria-label="breadcrumb">
  <span class="left-sidebar-toggle d-block d-md-none link" {{action 'toggleLeftSidebar'}}>
    ☰
  </span>

  <span {{action 'handleLogoAction'}} class="navbar-brand">
    <div class="header-logo"> </div>
  </span>

  <div class="d-flex col pl-0 pr-0 navbar-contents-holder">
    <div class="navbar-overflow-wrapper">
      <div class="navbar-nav col d-flex">

        {{#if (or session.isAuthenticated media.isMobile)}}
          <BreadCrumbs @crumbClass="breadcrumb-item" />
        {{else}}
          <PageActionsButtons @pageActions={{unAuthenticatedMenuOptions}} />
        {{/if}}
      </div>
    </div>

    {{#unless session.isAuthenticated}}
      <LinkTo @route="login" class="nav-item d-none d-md-flex mr-2">
        <button class="btn btn-primary d-inline nav-link pl-2 pr-2">
          {{t 'tag.button.signin'}}
        </button>
      </LinkTo>
    {{/unless}}
    <div id="navbar-wormhole"></div>
  </div>

  {{#unless session.isAuthenticated}}
    <button class="btn btn-locale btn-inverse-locale-{{intl.locale}}" title="{{t 'component.headerNav.changeLocale'}}" {{action 'toggleLocale'}}>
    </button>
  {{/unless}}
</nav>
