<div class="card quickpost">
  <div class="progress bg-white">
    <div class="progress-bar bg-{{progressBarClass}}" style={{progressBarStyle}} role="progressbar" aria-valuenow={{characterCountPercentage}} aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="card-block">
    <div class="p-3 pb-5">
      <div class="row pb-2">
        {{#link-to "users.show" session.currentUser.id}}
          <img class="profile-picture profile-picture-md ml-3 p-0" alt="{{session.currentUser.fullName}}" src="{{session.currentUser.avatarThumbUrlOrDefault}}">
        {{/link-to}}
        {{textarea id="qp-inputfield" value=newQpMessage rows=4 class="col form-control ml-3 mr-3 qp-inputfield " placeholder=welcomeText min="1" max=maxCharacters enter="saveMessage"}}
      </div>

      <div class="d-flex float-right">
        <span class="qp-characters-indicator {{if tooMuchText 'text-danger' 'text-muted'}} {{unless currentCharacterCount 'hidden'}} pt-2 pr-3">
          {{currentCharacterCount}} {{t "/"}} {{maxCharacters}}
        </span>

        {{quick-post-notification-button}}

        {{#bs-dropdown class="ml-1" closeOnMenuClick=true as |dd|}}
          {{#dd.toggle class="open-smiley-pane-button btn btn-default"}}
            {{fa-icon "smile" prefix="far"}}
            {{/dd.toggle}}
          {{#dd.menu class="emoticon-holder" as |menu|}}
            <div class="row">
              {{#each emoticons as |emoticon|}}
                <div class="emoticon" {{action 'appendSmileyToText' emoticon }}> {{convert-to-emojione emoticon}} </div>
              {{/each}}
            </div>
          {{/dd.menu}}
        {{/bs-dropdown}}

        <button class="btn btn-primary ml-1 mb-3 {{if tooMuchText 'disabled'}}" {{action "saveMessage"}}> {{t "Versturen"}} </button>
      </div>
    </div>

    {{#if zeepFound}}
      <hr>
      <div class="row qp-message p-3">
        <img class="profile-picture profile-picture-md ml-3 p-0" alt="ICT Commissie" src="zeep.png">

        <div class="pl-3 col">
          <div class="row">
              <b class="text-sm text-muted"> {{t 'ICT commissie'}} </b>
          </div>
          <p class="qp-message-text"> {{t 'Jaa, we hebben de zeep gevonden! Er moest 4x zeep in de laatste 10 quickpost berichten staan om te zorgen dat de zeep gevonden werd, echt teamwork dus!'}} </p>
        </div>
      </div>
    {{/if}}

    {{#each sortedMessages as |message index|}}
      <hr>
      <div class="row qp-message p-3">
        {{#link-to "users.show" message.author}}
          <img class="profile-picture profile-picture-md ml-3 p-0" alt="{{message.author.fullName}}" src="{{message.author.avatarThumbUrlOrDefault}}">
        {{/link-to}}

        <div class="pl-3 col">
          <div class="row">
            {{#link-to "users.show" message.author.id class="col"}}
              <b class="text-sm text-muted"> {{message.author.fullName}} </b>
            {{/link-to}}

            <small class="text-muted pr-3">
              {{#if (can 'destroy quickpost-messages')}}
                {{fa-icon 'trash' class="qp-destroy-icon link-highlight" click=(action 'destroyMessage' message)}}
              {{/if}}
              {{moment-format message.createdAt 'dddd D MMMM HH:mm'}}
            </small>
          </div>
          <p class="qp-message-text"> {{convert-to-emojione (linkify message.message "_blank" urlLength=30)}} </p>
        </div>
      </div>
    {{/each}}
    {{#if showLoaderButton}}
      <button class="btn btn-sm btn-block btn-secondary btn-read-more" {{action "loadMore"}}>{{t 'Meer laden'}}</button>
    {{/if}}
  </div>
</div>
