<div class="social-buttons">
  <a class="btn btn-lg social-button facebook" id="social-button-facebook" itemprop="sameAs" href="https://www.facebook.com/csvAlpha" target="_blank">
    {{fa-icon "facebook" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.facebook'}}
  </a>
  <a class="btn btn-lg social-button instagram" id="social-button-instagram" itemprop="sameAs" href="https://www.instagram.com/csvAlpha" target="_blank">
    {{fa-icon "instagram" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.instagram'}}
  </a>
  <a class="btn btn-lg social-button twitter" id="social-button-twitter" itemprop="sameAs" href="https://twitter.com/csvAlpha" target="_blank">
    {{fa-icon "twitter" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.twitter'}}
  </a>
</div>
