<div class="social-buttons">
  <a class="btn btn-lg social-button facebook" id="social-button-facebook" itemprop="sameAs" href="https://www.facebook.com/csvAlpha" target="_blank">
    {{fa-icon "facebook" prefix="fab" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.facebook'}}
  </a>
  <a class="btn btn-lg social-button instagram" id="social-button-instagram" itemprop="sameAs" href="https://www.instagram.com/csvAlpha" target="_blank">
    {{fa-icon "instagram" prefix="fab" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.instagram'}}
  </a>
  <a class="btn btn-lg social-button youtube" id="social-button-youtube" itemprop="sameAs" href="https://www.youtube.com/channel/UColmEomy97Em2hftbC8GSgA" target="_blank">
    {{fa-icon "youtube" prefix="fab" class="social-media-icon"}}
    {{t 'component.socialMediaButtons.youtube'}}
  </a>
</div>
