<div class="d-flex comment">
  {{#link-to "users.show" comment.author.id}}
    <img class="profile-picture profile-picture-small mr-2" src="{{comment.author.avatarThumbUrlOrDefault}}">
  {{/link-to}}
  <div class="comment-content">
    <div class="d-flex">
      {{#link-to "users.show" comment.author.id}}
        <strong>{{comment.author.fullName}}</strong>
      {{/link-to}}

      {{#if (can 'destroy article-comments')}}
        {{#link-to 'article-comments.destroy' comment.id}}
          {{fa-icon 'trash' class="text-muted destroy-icon ml-2"}}
        {{/link-to}}
      {{/if}}
    </div>

    <div class="d-flex">
      <span> {{comment.content}} </span>
    </div>

    <div class="d-flex">
      <small class="text-muted"> {{moment-calendar comment.createdAt}} </small>
    </div>
  </div>
</div>
