<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{this.search}}
      @setFilter={{this.setSearch}}
      @sortedAttribute={{this.sortedAttribute}}
      @setSortedAttribute={{this.setSortedAttribute}}
      @sortableAttributes={{this.sortableAttributes}}
      @sortedAscending={{this.sortedAscending}}
      @setSortedAscending={{this.setSortedAscending}}
      @enter={{this.selectFirstItem}}
    />
  </PageActionsButtons>
</EmberWormhole>

{{#each groupedModel as |group|}}
  <div class='card'>
    <div class='card-header'>
      <h5>{{capitalize group.value}}</h5>
    </div>

    {{#each group.items as |staticPage|}}
      <LinkTo @route='static-pages.static-page' @model={{staticPage.id}}>
        <div class='row rtable-row'>
          <span class='col'>{{staticPage.title}}</span>
        </div>
      </LinkTo>
    {{/each}}
  </div>
{{/each}}