<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{search}}
      @sortedAttribute={{sortedAttribute}}
      @sortableAttributes={{sortableAttributes}}
      @sortedAscending={{sortedAscending}}
      @enter={{action 'selectFirstItem'}}
    />
  </PageActionsButtons>
</EmberWormhole>

{{#each groupedModel as |group|}}
  <div class='card'>
    <div class='card-header'>
      <h5>{{capitalize group.value}}</h5>
    </div>

    {{#each group.items as |staticPage|}}
      <LinkTo @route='static-pages.show' @model={{staticPage.id}}>
        <div class='row rtable-row'>
          <span class='col'>{{staticPage.title}}</span>
        </div>
      </LinkTo>
    {{/each}}
  </div>
{{/each}}