<article
  class='article-card {{if useMaxHeight "d-flex"}}'
  itemscope
  itemtype='http://schema.org/Article'
>
  <div class='card' data-test-article-card>
    <div class='card-header card-header--overlay'>
      <img
        itemprop='image'
        class='card-img-top'
        src={{article.coverPhotoUrlOrDefault}}
      />

      <div class='card-title-bar gradient-overlay'>
        <div class='hidden-xs-down'>
          <img
            src='{{article.avatarThumbUrlOrDefault}}'
            class='profile-picture-medium profile-picture-margin'
            alt='{{article.authorName}}'
            height='60px'
            style='display: inline;'
          />
        </div>

        <div class='card-titles'>
          <LinkTo @route='articles.show' @model={{article.id}}>
            <h2 class='card-title' itemprop='name headline'>
              {{#if article.pinned}}<FaIcon @icon='thumbtack' />{{/if}}
              {{article.title}}
            </h2>
          </LinkTo>
          <h3 class='card-subtitle'>
            {{#if article.group}}
              <LinkTo
                @route='groups.show'
                @model={{article.group.id}}
                class='link-to card-subtitle-link'
              >
                <span
                  itemprop='author'
                  itemscope
                  itemtype='http://schema.org/Person'
                >
                  <span itemprop='name'>{{article.authorName}}</span>
                </span>
              </LinkTo>
            {{else}}
              <LinkTo
                @route='users.show'
                @model={{article.author.id}}
                class='link-to card-subtitle-link'
              >
                <span
                  itemprop='author'
                  itemscope
                  itemtype='http://schema.org/Person'
                >
                  <span itemprop='name'>{{article.authorName}}</span>
                </span>
              </LinkTo>
            {{/if}}
          </h3>
        </div>
      </div>
    </div>

    <div class='card-body'>
      <p class='card-text' itemprop='articleBody'>
        {{#if showExcerpt}}
          {{clean-markdown article.excerpt}}
        {{else}}
          {{markdown-to-html
            article.contentCamofied
            extensions='youtubeEmbed bootstrapTable'
          }}
        {{/if}}
      </p>
      <meta
        itemprop='dateModified'
        content={{moment-format article.updatedAt}}
      />
      <meta
        itemprop='publisher'
        itemscope
        itemtype='https://schema.org/Organization'
        itemref='organisation-alpha'
      />
    </div>

    <div class='card-footer'>
      <span
        itemprop='datePublished'
        content={{moment-format article.createdAt}}
      >
        {{moment-calendar article.createdAt}}
      </span>
      <span>
        {{t
          'component.cards.articleCard.reactions'
          count=article.amountOfComments
        }}
      </span>
      {{#if useMaxHeight}}
        <LinkTo @route='articles.show' @model={{article.id}} itemprop='url'>
          <span class='float-md-right'> {{t 'tag.button.readMore'}} </span>
        </LinkTo>
      {{/if}}
    </div>
  </div>
</article>