<LinkTo @route='articles.show' @model={{article.id}}>
  <article
    class={{if useMaxHeight 'd-flex'}}
    itemscope
    itemtype='https://schema.org/Article'
  >
    <div class='card border-0'>
      <div
        class='card-header card-header--overlay'
        data-test-frontpage-article-card
      >
        <div class='embed-responsive embed-responsive-16by9'>
          <img
            itemprop='image'
            class='card-img-rounded embed-responsive-item'
            src={{article.coverPhotoUrlOrDefault}}
          />
        </div>
        <div class='card-title-bar gradient-overlay-rounded d-flex'>
          <div class='card-titles col ps-0'>
            <h5 itemprop='name headline'>
              {{#if article.pinned}}<FaIcon @icon='thumbtack' />{{/if}}
              {{article.title}}
            </h5>
            {{#if article.group}}
              <LinkTo
                @route='groups.show'
                @model={{article.group.id}}
                class='link-to card-subtitle-link'
              >
                <h5
                  class='card-subtitle d-none d-sm-block'
                  itemprop='author'
                  itemscope
                  itemtype='https://schema.org/Person'
                >
                  <span itemprop='name'>{{article.authorName}}</span>
                </h5>
              </LinkTo>
            {{else}}
              <LinkTo
                @route='users.show'
                @model={{article.author.id}}
                class='link-to card-subtitle-link'
              >
                <h5
                  class='card-subtitle d-none d-sm-block'
                  itemprop='author'
                  itemscope
                  itemtype='https://schema.org/Person'
                >
                  <span itemprop='name'>{{article.authorName}}</span>
                </h5>
              </LinkTo>
            {{/if}}
          </div>
          <span class='card-subtitle align-self-end'>
            <FaIcon @icon='comments' />
            {{article.amountOfComments}}
          </span>
        </div>
      </div>
    </div>
  </article>
</LinkTo>