<div
  itemscope
  itemtype='http://schema.org/Event'
  class='card-body p-0'
  {{action action}}
>
  <div class='d-flex' data-test-frontpage-activity-card>
    <div
      class='col-3 date-holder p-3'
      itemprop='startDate'
      content={{moment-format activity.startTime}}
    >
      <span class='day-of-month'>
        {{moment-format activity.startTime 'DD'}}
      </span>
      <b class='month-abbrev'> {{moment-format activity.startTime 'MMM'}}</b>
      <b class='time'> {{moment-format activity.startTime 'HH:mm'}}</b>
    </div>
    <div class='col-9 frontpage-card-image p-3' style={{style}}>
      <h4 itemprop='name' class='card-title'>{{activity.title}}</h4>
      <span itemprop='location' itemscope itemtype='http://schema.org/Place'>
        <i class='text-muted' itemprop='name address'>{{activity.location}}</i>
      </span>
      <meta itemprop='description' content={{activity.description}} />
      <meta itemprop='image' content={{activity.coverPhotoUrlOrDefault}} />
    </div>
  </div>
</div>