<div
  class='card border-0 mb-5
    {{if @administrative "administrative-membership-card"}}'
>
  <div class='card-header card-header--overlay'>
    <img
      alt={{@title}}
      src={{@imageSource}}
      class='card-img-rounded'
      height='250px'
    />
    <div class='card-title-bar gradient-overlay-rounded'>
      <div class='card-titles'>
        <h2 class='card-title'>{{@title}}</h2>
        <h3 class='card-subtitle'>{{@subtitle}}</h3>
        {{yield}}
      </div>
    </div>
  </div>
</div>