<div class='d-flex justify-content-between align-items-center pb-2' data-test-privacy-preference-card>
  <h5 class='m-0'>Privacyinstellingen</h5>

  {{#if (can 'edit user' @model)}}
    <LinkTo
      @route='users.edit-privacy'
      @model={{@model.id}}
      class='btn btn-outline-info'
    >
      Voorkeuren wijzigen
      <FaIcon @icon='pen-to-square' class='pl-1' />
    </LinkTo>
  {{/if}}
</div>

<table class='table table-sm'>
  <tr>
    <td>
      Ik wil profieldetails (contactgegevens, studie, geboortedatum en
      dieetwensen) delen met:
    </td>
    <td data-test-user-details-sharing-preference>
      {{humanize-user-details-sharing-preference
        @model.userDetailsSharingPreference
      }}
    </td>
  </tr>
  <tr>
    <td>
      Gegevens (naam, email, geboortedatum) mogen gedeeld worden met het
      streepsysteem
    </td>
    <td data-test-allow-tomato-sharing>
      <BooleanTag @value={{@model.allowTomatoSharing}} />
    </td>
  </tr>
  <tr>
    <td>Gegevens mogen gedeeld worden met IFES</td>
    <td data-test-ifes-sharing-preference>
      <BooleanTag @value={{@model.ifesDataSharingPreference}} />
    </td>
  </tr>
  <tr>
    <td>Gegevens (naam, afbeelding, studie) mogen gedeeld worden in de almanak</td>
    <td data-test-info-in-almanak>
      <BooleanTag @value={{@model.infoInAlmanak}} />
    </td>
  </tr>
</table>