<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='card'>
  <div
    class='card-header
      {{if
        @model.coverPhotoUrl
        "card-header--overlay"
        "card-header--no-overlay"
      }}'
  >
    {{#if @model.coverPhotoUrl}}
      <img class='card-img-top' src={{@model.coverPhotoUrl}} />
    {{/if}}

    <div class='card-title-bar gradient-overlay'>

      <div class='card-titles'>
        <h2 class='card-title' data-test-@model-house_name>
          {{@model.house_name}}
        </h2>
        {{#if @model.location}}
        <h3 class='card-subtitle'>
          <span data-test-@model-location>
            {{@model.location}}
          </span>
        </h3>
        {{/if}}
      </div>
    </div>
  </div>

  <div class='row card-subheader-row ms-0 me-0'>
     {{#if @model.contact}}
    <div class='col-12 col-md-4 card-subheader-item align-items-center p-3'>
      <b>Contact: </b>
      {{#if (is-phone @model.contact)}}
        <a href='tel:{{@model.contact}}'>{{@model.contact}}</a>
      {{else if (is-email @model.contact)}}
        <a href='mailto:{{@model.contact}}'>{{@model.contact}}</a>
      {{else if (is-url @model.contact)}}
        <a href='{{@model.contact}}' target='_blank'>{{@model.contact}}</a>
      {{else}}
        {{@model.contact}}
      {{/if}}
    </div>
    {{/if}}
  </div>

  <div class='card-body'>
    <p class='card-text' data-test-@model-description>
      {{markdown-to-html
        @model.descriptionCamofied
        extensions='youtubeEmbed bootstrapTable'
      }}
    </p>
  </div>
</div>