<div class='row justify-content-around index-action-buttons'>
  <div class='info-holder col-lg-4 col-md-6 col-sm'>
    <p class='text-start'>
      {{t 'component.index.public.actionButtons.member'}}
    </p>
    <a
      class='btn btn-lg btn-primary frontpage-button'
      href='https://forms.gle/R4WYzbWameD6wN817'
      target='_blank'
    >
      {{t 'component.index.public.actionButtons.memberButton'}}
    </a>
    <LinkTo
      @route='static-pages.static-page'
      @model='word-lid'
      class='btn btn-lg btn-primary frontpage-button mt-3'
    >
      {{t 'component.index.public.actionButtons.memberNowButton'}}
    </LinkTo>
  </div>
  <div class='info-holder col-lg-4 col-md-6 col-sm'>
    <p class='text-start'> {{t 'component.index.public.actionButtons.room'}} </p>
    <a
      class='btn btn-lg btn-primary frontpage-button'
      href='https://forms.gle/BcJsvEUqp5PJVzLj9'
      target='_blank'
    >
      {{t 'component.index.public.actionButtons.roomButton'}}
    </a>
  </div>
</div>