<div class="index-videos-section row full-width p-5 d-flex flex-column align-items-center">
  <h1 class="index-title text-white">C.S.V. Alpha in het kort</h1>
  <hr class="index-title-border border border-primary border-3 opacity-100" />

  <div class='row w-75 mt-5'>
    <div class='col-xs col-lg-9'>
      <YoutubeVideo
        @youtubeId='{{mainVideo.videoId}}'
        @title='{{mainVideo.title}}'
      />
    </div>
    <div class='col-xs col-lg-3'>
      <div class='about-alpha'>
        <div class='about-alpha__container'>
          {{#each sideVideos as |video|}}
            <div
              class='about-alpha__video'
              title='{{video.title}}'
              {{action 'changeVideo' video}}
            >
              <img
                src='https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg'
                class='about-alpha__thumbnail'
                alt='{{video.title}}'
              />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
