{{#if form.amountOfResponses}}
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <h5 class="card-title col"> {{t "Inschrijvingen"}} </h5>
        <div class="form-group checkbox-holder col col-md-auto">
          <label  class="form-check-label" for="show-allergy-info">
            {{input type="checkbox" id="show-allergy-info" checked=showAllergyInfo class="form-control filter-bar-dropdown-checkbox"}}
            <div class="custom-checkmark"></div>
            {{t "Toon dieetwensen"}}
          </label>
        </div>
      </div>
    </div>
    <div class="table-responsive responses-table">
      {{form/responses-table form form.responses showAllergyInfo=showAllergyInfo}}
    </div>
  </div>
{{else}}
  <div class="alert alert-warning" role="alert">
    {{t 'Er heeft zich nog niemand ingeschreven'}}
  </div>
{{/if}}
