{{#ember-wormhole to="navbar-wormhole"}}
  {{#page-actions-buttons pageActions}}
    {{#filter-bar class="col-12 col-md" filter=search sortedAttribute=sortedAttribute sortableAttributes=sortableAttributes sortedAscending=sortedAscending  enter=(action "selectFirstItem")}}
      <div class="form-check">
        <label class="form-check-label">
          {{input type="checkbox" checked=showPassed class="form-check-input"}}
          {{t "Toon activiteiten in verleden"}}
          <div class="custom-checkmark"></div>
        </label>
      </div>
    {{/filter-bar}}
  {{/page-actions-buttons}}
{{/ember-wormhole}}

<div class="card">
  <div class="row rtable-row header d-none d-md-flex">
    <span class="col"> {{t "Naam"}} </span>
    <span class="col-3"> {{t "Startdatum"}} </span>
    <span class="col-1 rtable-ta-right"> {{t "#"}} </span>
  </div>

  {{#each pagedModel as |activity|}}
    {{#link-to 'activities.show' activity data-test-activity-item=true}}
      <div class="row rtable-row">
        <span class="col-12 col-md-8 rtable-item">
          {{#if activity.form}}
            {{form/status-icon activity.form}}
          {{/if}} {{activity.title}}
        </span>
        <span class="col-8 col-md-3 text-muted rtable-item"> {{moment-format activity.startTime 'DD-MM-YY HH:mm'}} </span>
        <span class="col-4 col-md-1 text-muted rtable-item rtable-ta-right">
          {{activity.form.amountOfResponses}}
          <span class="d-inline d-md-none">
            {{#if activity.form.amountOfResponses}}
              {{t "Inschrijvingen"}}
            {{/if}}
          </span>
        </span>
      </div>
    {{/link-to}}
  {{/each}}
</div>

<div class="row justify-content-center">
  {{page-numbers content=paginator}}
</div>
