<div class='card printsettings'>
  <div class='card-header card-header-with-tabs'>
    <h5 class='ps-2 pb-3'>Afdrukinstellingen</h5>
    <div class='row tabs-with-filterbar-row'>
      <div class='col'>
        <ul class='nav nav-tabs'>
          <li class='nav-item'>
            <a
              class='nav-link {{if (eq this.currentTab "form") "active"}}'
              {{action 'selectForm'}}
            >
              Inschrijflijst
            </a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link
                {{if (eq this.currentTab "consumptionList") "active"}}'
              {{action 'selectConsumptionList'}}
            >
              Streeplijst
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='card-body'>
    <p class='card-text'>
      <form class='col-12'>
        {{#if (eq this.currentTab 'form')}}
          <div class='form-check'>
            <label class='form-check-label'>
              <Input
                @type='checkbox'
                @checked={{this.showAllergyInfo}}
                class='form-check-input'
              />
              Dieetwensen weergeven
              <div class='custom-checkmark'></div>
            </label>
          </div>

        {{else if (eq this.currentTab 'consumptionList')}}
          <div class='row'>
            <div class='col-12'>
              <b>Extra opties</b>
              <br />
              <ul
                class='list-group'
                {{sortable-group onChange=(action 'reorderItems')}}
              >
                {{#each this.options as |option index|}}
                  <li class='list-group-item' {{sortable-item model=option}}>
                    <div class='row'>
                      <span class='col'>{{option}}</span>
                      <a
                        class='ps-2 link-highlight text-danger'
                        {{action 'removeOption' index}}
                      >
                        Verwijderen
                      </a>
                      <span class='px-3' {{sortable-handle}}>
                        <FaIcon @icon='sort' class='handle text-muted' />
                      </span>
                    </div>
                  </li>
                {{else}}
                  Geen extra opties ingesteld
                {{/each}}
              </ul>

              <div class='input-group consumptionList-itemfield mt-2'>
                <Input
                  @value={{this.newOption}}
                  class='form-control'
                  aria-label='Optie toevoegen'
                  placeholder='Optie toevoegen'
                  @enter={{action 'addOption'}}
                />
                <span class='input-group-btn'>
                  <button
                    class='btn btn-secondary'
                    type='button'
                    {{action 'addOption'}}
                  >
                    <FaIcon @icon='plus' />
                  </button>
                </span>
              </div>

              <div class='form-group mt-3'>
                <label><b>Extra lege rijen</b></label>
                <Input
                  @type='number'
                  @value={{this.additionalEmptyRows}}
                  class='form-control'
                  aria-label='Extra velden'
                  placeholder='Extra velden'
                  min='0'
                />
              </div>

              <div class='form-check'>
                <label class='form-check-label'>
                  <Input
                    @type='checkbox'
                    @checked={{this.showRobertHofstra}}
                    class='form-check-input'
                  />
                  Robert Hofstra toevoegen
                  <div class='custom-checkmark'></div>
                </label>
              </div>
            </div>
          </div>
        {{/if}}

        <div class='form-check'>
          <label class='form-check-label'>
            <Input
              @type='checkbox'
              @checked={{this.showCheckbox}}
              class='form-check-input'
            />
            Aanvinkhokje weergeven
            <div class='custom-checkmark'></div>
          </label>
        </div>

        <button type='button' class='btn btn-secondary' {{action 'print'}}>
          Afdrukken
        </button>
        <LinkTo
          @route='activities.show'
          @model={{@model.id}}
          class='btn btn-default'
        >
          Annuleren
        </LinkTo>
      </form>
    </p>
  </div>
</div>

<div class='card'>
  <div class='card-header d-flex justify-content-between'>
    <h5> Afdrukvoorbeeld </h5>
    <span class='text-muted'>
      Voorbeeld kan afwijken van uiteindelijke resultaat
    </span>
  </div>

  <div class='card-body'>
    <div id='printarea' class='printarea'>
      {{#if (eq this.currentTab 'form')}}
        <h5>Inschrijvingen voor {{@model.title}}</h5>
        <Form::ResponsesTable
          @form={{@model.form}}
          @responses={{this.sortedResponses}}
          @showAllergyInfo={{this.showAllergyInfo}}
          @showCheckbox={{this.showCheckbox}}
          class='responses-table'
        />
      {{else if (eq this.currentTab 'consumptionList')}}
        <h5>Streeplijst voor {{@model.title}}</h5>
        <Form::ConsumptionList
          @responses={{this.sortedResponses}}
          @showCheckbox={{this.showCheckbox}}
          @options={{this.options}}
          @showRobertHofstra={{this.showRobertHofstra}}
          @additionalEmptyRows={{this.additionalEmptyRows}}
        />
      {{/if}}
    </div>
  </div>
</div>