<div class="{{labelClass}}"></div>
<div class="{{inputWrapperClass}}">
  <div class="form-check">
    <label class="form-check-label">
      <Input data-test-input={{property}} @type="checkbox" @id={{inputIdentifier}} @checked={{mut (get model property)}} class={{concat "form-input-checkbox " inputValidityClass}} required={{required}} @disabled={{disabled}} />
      <div class="custom-checkmark"></div>
      {{label}}{{if required " *"}}
      {{form-control-feedback (get @model.errors property)}}
    </label>
  </div>
</div>
