<label class="col-form-label form-control-label {{labelClass}}" for={{inputIdentifier}}>{{label}}{{if required " *"}}</label>
<div class="{{inputWrapperClass}}">
  <Input::DateInput @inputId={{inputIdentifier}} @dateValue={{mut (get model property)}} @inputClass={{concat "form-control " inputValidityClass}} @placeholder={{placeholder}} @required={{required}} @disabled={{disabled}} @yearRange={{yearRange}} />
  {{form-control-feedback (get @model.errors property)}}
</div>
