<label class="col-form-label form-control-label {{labelClass}}">{{label}}{{if required " *"}}</label>
<div class="{{inputWrapperClass}}">
  <FileUpload @name="fileUpload" @accept={{validMimetypes}} @onfileadd={{action "fileLoaded"}} @class="clickable d-block file-picker">
    {{#if (get model property)}}
      <img id={{inputIdentifier}} src={{mut (get model property)}} alt={{label}}>
      <br>
    {{else}}
      <span class="image-upload-text">
        Sleep hier een nieuwe bestand naartoe of klik om een bestand te kiezen
      </span>
    {{/if}}
  </FileUpload>
  {{#if fileToBig}}
    <br>
    <div class="alert alert-danger">
      Dit bestand is te groot om te uploaden, gebruik een bestand kleiner dan {{maxFileSize}}MB
    </div>
  {{/if}}
  {{#if extensionNotPermitted}}
    <br>
    <div class="alert alert-danger">
      Deze bestandsextensie wordt niet ondersteund.
      Geaccepteerde extensies zijn:  <b>{{validExtensionsString}}</b>
    </div>
  {{/if}}

  {{form-control-feedback (get @model.errors property)}}
</div>
