<div class='card tool photo-tool'>
  <div class='card-header'>
    <LinkTo @route='photo-albums'>
      <h5>Foto's</h5>
    </LinkTo>
  </div>
  {{#if (can 'show photo-comments')}}
    <div class='card-body'>
      <div class='d-flex'>
        {{#each photosWithComments as |photo|}}
          <LinkTo
            @route='photo-albums.photo-album.photos.show'
            @models={{array photo.photoAlbum.id photo.id}}
            class='picture-link col-xs'
          >
            <img class='featured-picture' src={{photo.imageThumbUrl}} />
          </LinkTo>
        {{else}}
          <div class='p-2'>
            Er zijn helaas geen recente reacties op foto's!
          </div>
        {{/each}}
      </div>
      {{#if photosWithComments}}
        <LinkTo @route='photo-comments'>
          <button class='btn btn-primary col-12 mt-2 mb-1' type='button'>
            Bekijk alle reacties
          </button>
        </LinkTo>
      {{/if}}
    </div>
  {{/if}}
  <ul class='list-group list-group-flush'>
    {{#each albums as |album|}}
      <LinkTo @route='photo-albums.photo-album' @model={{album.id}}>
        <li class='list-group-item'>{{album.title}}</li>
      </LinkTo>
    {{else}}
      <li class='list-group-item'>
        Er zijn helaas geen recente foto-albums!
      </li>
    {{/each}}
  </ul>
</div>