<fieldset class='form-group {{if this.usesGrid "form-row"}}' ...attributes>
  <legend
    class={{if (not-eq @inputLayout 'vertical') 'col-form-legend col-sm-2'}}
  >
    {{@label}}{{if @required ' *'}}
  </legend>
  <div class={{if (not-eq @inputLayout 'vertical') 'col-sm-10'}}>
    {{#each @options as |opt|}}
      <div class='form-check'>
        <label
          class='form-check-label'
          for={{concat @inputIdentifier '-' opt.value}}
        >
          <ModelForm::CheckboxButton
            class={{concat 'form-check-input ' @inputValidityClass}}
            @name={{@inputIdentifier}}
            id={{concat @inputIdentifier '-' opt.value}}
            @value={{opt.value}}
            @groupValue={{mut (get @model @property)}}
            @required={{this.requiredAndNothingSelected}}
            @disabled={{@disabled}}
          />
          <div class='custom-checkmark'></div>
          {{opt.label}}
        </label>
      </div>
    {{/each}}

    {{form-control-feedback (get @model.errors @property)}}
  </div>
</fieldset>