<label class='col-form-label form-control-label {{labelClass}}'>
  {{label}}{{if required ' *'}}
</label>
<div class='{{inputWrapperClass}}'>
  {{#let (file-queue name="fileUpload" onFileAdded=(action 'fileLoaded')) as |queue|}}
    <label for="upload-file">
      {{#if (get model property)}}
        <img id={{inputIdentifier}} src={{mut (get model property)}} alt={{label}} role="button" tabindex="0"
        aria-controls="upload-file" />
        <br />
      {{else}}
        <span class='image-upload-text' role="button" tabindex="0" aria-controls="upload-file">
          Sleep hier een nieuwe bestand naartoe of klik om een bestand te kiezen
        </span>
      {{/if}}
    </label>
    <input type="file" id="upload-file" class="" hidden accept={{validMimetypes}} {{queue.selectFile}}>
  {{/let}}
  {{#if fileToBig}}
    <br />
    <div class='alert alert-danger'>
      Dit bestand is te groot om te uploaden, gebruik een bestand kleiner dan
      {{maxFileSize}}MB
    </div>
  {{/if}}
  {{#if extensionNotPermitted}}
    <br />
    <div class='alert alert-danger'>
      Deze bestandsextensie wordt niet ondersteund. Geaccepteerde extensies
      zijn:
      <b>{{validExtensionsString}}</b>
    </div>
  {{/if}}

  <FormControlFeedback @errors={{get @model.errors property}} />
</div>