<div
  class={{if
    (not-eq inputLayout 'vertical')
    'form-actions form-group row justify-content-end'
    'form-actions form-group'
  }}
>
  <div class={{if (not-eq inputLayout 'vertical') 'col-sm-10'}}>
    {{#if (or errors errorMessage)}}
      <div class='alert alert-danger form-submit-error'>
        Er zijn nog fouten in de invoer
        <ul>
          {{#each errors as |error|}}<li>{{error.message}}</li>{{/each}}
        </ul>
        {{this.errorMessage}}
      </div>
    {{/if}}
    <input
      type='submit'
      class='btn btn-primary'
      aria-label='Opslaan'
      value={{if submitButtonLabel submitButtonLabel 'Opslaan'}}
    />

    {{yield}}
  </div>
</div>