<legend class={{if (not-eq inputLayout 'vertical') 'col-form-legend col-sm-2'}}>
  {{label}}{{if required ' *'}}
</legend>
<div class={{if (not-eq inputLayout 'vertical') 'col-sm-10'}}>
  {{#each options as |opt|}}
    <div class='form-check'>
      <label class='form-check-label' for='{{inputIdentifier}}-{{opt.value}}'>
        <ModelForm::RadioButton
          @class={{concat 'form-control ' inputValidityClass}}
          @name={{inputIdentifier}}
          @id={{concat inputIdentifier '-' opt.value}}
          @value={{opt.value}}
          @groupValue={{mut (get model property)}}
          @required={{required}}
          @disabled={{disabled}}
        />
        <div class='custom-radiobutton'></div>
        {{opt.label}}
      </label>
    </div>
  {{/each}}
  {{form-control-feedback (get @model.errors property)}}
</div>