<fieldset class='mb-3 {{if this.usesGrid "row"}}'>
  <legend
    class={{if (not-eq this.inputLayout 'vertical') 'col-form-legend col-sm-2'}}
  >
    {{@label}}{{if @required ' *'}}
  </legend>
  <div class={{if (not-eq this.inputLayout 'vertical') 'col-sm-10'}}>
    {{#each @options as |opt|}}
      <div class='form-check mb-2'>
        <ModelForm::RadioButton
          class={{concat 'form-check-input ' this.inputValidityClass}}
          name={{this.inputIdentifier}}
          id={{concat this.inputIdentifier '-' this.opt.value}}
          value={{opt.value}}
          required={{@required}}
          disabled={{@disabled}}
          checked={{eq (get @model @property) opt.value}}
          {{on 'change' (action (mut (get @model @property)) opt.value)}}
        />
        <label
          class='form-check-label'
          for='{{this.inputIdentifier}}-{{opt.value}}'
        >
          {{opt.label}}
        </label>
      </div>
    {{/each}}

    {{form-control-feedback (get @model.errors @property)}}
  </div>
</fieldset>