<div class='mb-3 {{if this.usesGrid 'row'}}'>
  <label
    class='col-form-label form-label {{this.labelClass}}'
    for={{this.inputIdentifier}}
  >
    {{@label}}{{if @required ' *'}}
  </label>
  <div class='{{this.inputWrapperClass}}'>
    <Input::SelectInput
      @data-test-input={{@property}}
      @class={{concat 'form-control ' this.inputValidityClass}}
      @elementId={{this.inputIdentifier}}
      @required={{@required}}
      @disabled={{@disabled}}
      @options={{@options}}
      @placeholder={{this.placeholder}}
      @value={{mut (get @model @property)}}
    />

    {{form-control-feedback (get @model.errors @property)}}
  </div>
</div>