{{#if (eq inputLayout 'vertical')}}
  <div class='form-group'>
    <label class='vertical-label' for={{inputIdentifier}}>
      {{label}}{{if required ' *'}}
    </label>
    <Textarea
      @value={{mut (get model property)}}
      id={{inputIdentifier}}
      class='form-control'
      class={{concat 'form-control ' inputValidityClass}}
      required={{required}}
      disabled={{disabled}}
    />

    {{form-control-feedback (get @model.errors property)}}
  </div>
{{else}}
  <label
    class='col-sm-2 col-form-label form-control-label'
    for={{inputIdentifier}}
  >
    {{label}}{{if required ' *'}}
  </label>
  <div class='col-sm-10'>
    <Textarea
      @value={{mut (get model property)}}
      id={{inputIdentifier}}
      class={{concat 'form-control ' inputValidityClass}}
      placeholder={{placeholder}}
      required={{required}}
      disabled={{disabled}}
    />

    {{form-control-feedback (get @model.errors property)}}
  </div>
{{/if}}