{{#if (eq inputLayout 'vertical')}}
  <label class='vertical-label' for={{inputIdentifier}}>
    {{label}}{{if required ' *'}}
  </label>
  <Input
    @type={{type}}
    step={{step}}
    id={{inputIdentifier}}
    @value={{mut (get model property)}}
    class={{concat 'form-control ' inputValidityClass}}
    placeholder={{placeholder}}
    required={{required}}
    disabled={{disabled}}
    maxlength={{maxlength}}
  />

  <FormControlFeedback @errors={{get @model.errors property}} />
{{else}}
  <label
    class='col-form-label form-control-label {{labelClass}}'
    for={{inputIdentifier}}
  >
    {{label}}{{if required ' *'}}
  </label>
  <div class='{{inputWrapperClass}}'>
    <Input
      @type={{type}}
      step={{step}}
      id={{inputIdentifier}}
      @value={{mut (get model property)}}
      class={{concat 'form-control ' inputValidityClass}}
      placeholder={{placeholder}}
      required={{required}}
      disabled={{disabled}}
      maxlength={{maxlength}}
    />

    {{yield}}

    <FormControlFeedback @errors={{get @model.errors property}} />
  </div>
{{/if}}