<div class="advertisement-tool">
  <div class='banner adv-ad'>
    <div class='tool adv-container'>
      <div class='d-flex adv-row flex-column flex-wrap justify-content-center'>
        {{#each this.advertisements as |advertisement index|}}
          {{#if advertisement.links}}
            <div class='advertisement-item advertisement-item--full col-auto'>
              {{#each advertisement.links as |link|}}
                <a
                  class='d-block text-primary'
                  href='{{link.link}}'
                  target='_blank'
                >
                  {{link.title}}
                </a>
              {{/each}}
            </div>
          {{else}}
            <a
              class='advertisement-item
                {{if advertisement.full "advertisement-item--full"}}
                col-auto'
              href={{advertisement.link}}
              title={{advertisement.title}}
              target='_blank'
            >
              <img
                src={{advertisement.image}}
                alt={{if advertisement.alt advertisement.alt advertisement.title}}
              />
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>