<div class="d-flex d-md-none justify-content-end">
  <button
    type="button"
    class="btn btn-primary btn-search-toggle"
    {{on "click" this.toggleMobileFilterVisibility}}
    aria-label="Open search and filter options"
  >
    <FaIcon @icon="magnifying-glass" />
  </button>
</div>
<div
  class="
    {{if this.isMobileFilterVisible 'd-flex flex-column p-2 mobile-filter-expanded' 'd-none'}}
    d-md-flex flex-md-row align-items-md-center p-md-0
  "
>
  
  {{#if this.isMobileFilterVisible}}
    <div class="d-flex d-md-none justify-content-between align-items-center w-100 mb-2">
      <span class="h5 mb-0">Filteren & Sorteren</span>
      <button
        type="button"
        class="btn-close"
        aria-label="Sluiten"
        {{on "click" this.toggleMobileFilterVisibility}}
      ></button>
    </div>
  {{/if}}
  
  <div class='filter-bar w-100'>
    <div>
      <BsDropdown @class='w-100' as |dd|>
        <div class='input-group'>
          <div class='input-group-text'>
            <FaIcon @icon='magnifying-glass' />
          </div>

          <Input
            @value={{this.filterDebounce}}
            class='filter-bar-filter form-control'
            aria-label='Zoeken'
            placeholder='Zoeken'
            @enter={{@enter}}
          />

          <dd.button @type='button'>
            {{#if this.sortedAscending}}
              <FaIcon @icon='arrow-up-wide-short' />
            {{else}}
              <FaIcon @icon='arrow-down-wide-short' />
            {{/if}}
          </dd.button>

          <dd.menu class="p-2 card" as |ddm|>
            <div class='text-muted text-bold'>Sorteren</div>

            <ddm.item>
              <ModelForm::RadioGroup
                @model={{this}}
                @property='sortedAttribute'
                @options={{this.sortableAttributes}}
                @inputLayout='vertical'
                @label={{null}}
                @inputIdentifier='filter'
                @class='sort-radio-group'
              />
            </ddm.item>

            {{#if menu.divider}}
              {{menu.divider}}
            {{else}}
              <hr class="my-2" />
            {{/if}}

            <ddm.item>
              <div class='form-check'>
                <Input
                    @type='checkbox'
                    id='sort-order'
                    @checked={{this.sortedAscending}}
                    class='filter-bar-sorted-ascending form-check-input'
                  />
                <label for='sort-order' class='form-check-label'>Oplopend</label>
              </div>
            </ddm.item>

            {{yield}}
          </dd.menu>
        </div>
      </BsDropdown>
    </div>
  </div>
</div>
