<div class='container-fluid footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='row flex-items-xs-center'>
          <div
            class='col-12 col-sm-6 col-md-5 mt-3'
            itemscope
            itemtype='https://schema.org/Organization'
            itemref='social-button-facebook social-button-instagram'
          >
            <div id='organisation-alpha'>

              <h5 class='footer-header' itemprop='name'>C.S.V. Alpha</h5>
              <meta itemprop='url' content='https://csvalpha.nl' />
              <meta itemprop='logo' content='/images/alphalogo.svg' />

              <table class='table table-sm'>
                <tbody>
                  <tr>
                    <td class='footer-table-cell'>
                      <FaIcon @icon='envelope' />
                    </td>
                    <td class='footer-table-cell'>
                      <a
                        class='footer-text'
                        href='mailto:abactis@csvalpha.nl'
                        itemprop='email'
                        content='abactis@csvalpha.nl'
                      >
                        abactis@csvalpha.nl
                      </a>
                    </td>
                  </tr>

                  <tr
                    itemprop='contactPoint'
                    itemscope
                    itemtype='https://schema.org/ContactPoint'
                  >
                    <td class='footer-table-cell'>
                      <FaIcon
                        @icon='phone'
                        itemprop='contactType'
                        content='customer support'
                      />
                    </td>
                    <td class='footer-table-cell'>
                      <a
                        class='footer-text'
                        href='tel:+31627598310'
                        itemprop='telephone'
                        content='+31627598310'
                      >
                        06-82066827
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td class='footer-table-cell'>
                      <FaIcon @icon='location-dot' />
                    </td>
                    <td class='footer-table-cell'>
                      <a
                        class='footer-text'
                        href='https://maps.google.com/?q=Vrijhof UT, 7500 AE Enschede'
                        target='_blank'
                      >
                        <span itemprop='address'>
                          Vrijhof UT - 7500 AE Enschede - Postbus 217
                        </span>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td class='footer-table-cell'>
                      <FaIcon @icon='wrench' />
                    </td>
                    <td class='footer-table-cell'>
                      <a class='footer-text' href='mailto:ict@csvalpha.nl'>
                        ict@csvalpha.nl
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td class='footer-table-cell'>
                      <FaIcon @icon='building' />
                    </td>
                    <td class='footer-table-cell'>
                      <a class='footer-text'>
                        KvK: 40074802
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class='col-12 col-sm-6 col-md-4 mt-3'
            itemscope
            itemtype='https://schema.org/Organization'
          >
            <h5 class='footer-header' itemprop='name'>
              Stichting Sociëteit Flux
            </h5>
            <table class='table table-sm mw-100'>
              <tbody>
                <tr>
                  <td class='footer-table-cell'>
                    <FaIcon @icon='globe' />
                  </td>
                  <td class='footer-table-cell'>
                    <a
                      class='footer-text'
                      itemprop='url'
                      href='https://societeitflux.nl'
                      target='_blank'
                    >
                      www.societeitflux.nl
                    </a>
                  </td>
                </tr>

                <tr>
                  <td class='footer-table-cell'>
                    <FaIcon @icon='phone' />
                  </td>
                  <td class='footer-table-cell'>
                    <a
                      class='footer-text'
                      href='https://societeitflux.nl/#/contact'
                      target='_blank'
                    >
                      {{t 'component.footerNav.flux-contact'}}
                    </a>
                  </td>
                </tr>

                <tr>
                  <td class='footer-table-cell'>
                    <FaIcon @icon='location-dot' />
                  </td>
                  <td class='footer-table-cell'>
                    <a
                      class='footer-text'
                      href='https://maps.google.com/?q=Oude Markt 24-3,7511GB,Enschede'
                      target='_blank'
                    >
                      <span itemprop='address'>
                        Oude Markt 24-3 - 7511 GB Enschede
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class='col-12 col-sm-6 col-md-3 row justify-content-center'>
            <LinkTo @route='index'>
              <img src='{{if session.isAuthenticated "/images/alphalogowhite.svg" "/images/alphalogo.svg"}}' height='160px' />
            </LinkTo>
          </div>
        </div>
      </div>
    </div>

    <div class='d-flex footer-bottom pt-3 justify-content-center'>
      <span class='footer-bottom-text'>
        {{t 'component.footerNav.by'}}
        {{moment-format (now) 'YYYY'}}
        C.S.V. Alpha |
        <a
          class='footer-bottom-text'
          href={{if
            session.isAuthenticated
            '/privacy-statement.pdf'
            '/privacy-statement-ext.pdf'
          }}
        >
          Privacy
        </a>
      </span>
    </div>
  </div>
</div>
