<nav class='navbar pb-0 pt-0 {{if (not session.isAuthenticated) "unauthenticated"}}' aria-label='breadcrumb'>
  <div class="container-fluid d-flex justify-content-between">
    <span class='{{if session.isAuthenticated "half-toggle"}} left-sidebar-toggle d-block d-md-none link' {{action 'toggleLeftSidebar'}}>
      ☰
    </span>

    {{#if session.isAuthenticated }}
      <span {{action 'handleLogoAction'}} class='navbar-brand'>
        <div class='header-logo'> </div>
      </span>
    {{else}}
      <div class='unauthenticated-header-logo'> </div>
    {{/if}}

    <div class='d-flex col ps-0 pe-0 navbar-contents-holder {{if (not session.isAuthenticated) "unauthenticated"}}'>
      <div class='navbar-overflow-wrapper'>
        <div class='navbar-nav col d-flex flex-row'>
          {{#if (or session.isAuthenticated media.isMobile)}}
            <BreadCrumbs @crumbClass='breadcrumb-item' />
          {{else}}
            <LinkTo @route='index' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq router.currentRouteName 'index') 'selected'}}">Home</BsButton>
            </LinkTo>
            <BsDropdown class="position-static" as |dd| {{did-insert (action 'setAvailableStaticPages')}}>
              <dd.button @type="primary" class="public-navbar-button {{if (and 
                (and (not-eq router.currentURL '/static-pages/word-lid') (not-eq router.currentURL '/static-pages/sponsoring')) 
                (eq router.currentRouteName 'static-pages.show')) 'selected'
              }}">
                {{t "component.headerNav.aboutUs"}}
              </dd.button>
              <dd.menu @renderInPlace={{true}} as |ddm|>
                {{#each-in staticPagesForDropdown as |id title|}}
                  <ddm.item>
                    <ddm.linkTo @route='static-pages.show' @model={{id}} class="btn btn-primary">
                      {{title}}
                    </ddm.linkTo>
                  </ddm.item>
                {{/each-in}}
              </dd.menu>
            </BsDropdown>
            <LinkTo @route='static-pages.show' @model='word-lid' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq router.currentURL '/static-pages/word-lid') 'selected'}}">Word lid</BsButton>
            </LinkTo>
            <LinkTo @route='static-pages.show' @model='sponsoring' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq router.currentURL '/static-pages/sponsoring') 'selected'}}">Sponsoring</BsButton>
            </LinkTo>
          {{/if}}
        </div>
      </div>

      <div id='navbar-wormhole'></div>

      {{#unless session.isAuthenticated}}
        <LinkTo @route='login' class='d-none d-md-flex me-2'>
          <button class='btn btn-primary public-navbar-button {{if (eq router.currentRouteName 'login') 'selected'}}' type='button'>
            {{t 'tag.button.signin'}}
          </button>
        </LinkTo>
      {{/unless}}
    </div>

    {{#unless session.isAuthenticated}}
      <button class='btn btn-locale btn-inverse-locale-{{intl.locale}}' title='{{t "component.headerNav.changeLocale"}}'
        {{action 'toggleLocale'}} type='button'>
      </button>
    {{/unless}}
  </div>
</nav>
