<nav class='header-nav navbar pb-0 pt-0 {{if (not this.session.isAuthenticated) "public"}}' aria-label='breadcrumb'>
  <div class="container-fluid d-flex justify-content-between">
    <span
      class='{{if this.session.isAuthenticated "half-toggle" "pe-2"}} left-sidebar-toggle d-block d-md-none link'
      {{on 'click' this.toggleLeftSidebar}}
    >
      ☰
    </span>

    {{#if this.session.isAuthenticated }}
      <span {{on 'click' this.handleLogoAction}} class='navbar-brand'>
        <div class='header-logo'> </div>
      </span>
    {{else}}
      <div class='public-header-logo'> </div>
    {{/if}}

    <div class='d-flex col ps-0 pe-0 navbar-contents-holder {{if (not this.session.isAuthenticated) "public"}}'>
      <div class='navbar-overflow-wrapper'>
        <div class='navbar-nav col d-flex flex-row'>
          {{#if this.session.isAuthenticated}}
            <Breadcrumbs @routeInfos={{@routeInfos}} />
          {{else if (not this.media.isMobile)}}
            <LinkTo @route='index' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq this.router.currentRouteName 'index') 'selected'}}">Home</BsButton>
            </LinkTo>
            <BsDropdown class="position-static" as |dd| {{did-insert this.setStaticPages}}>
              <dd.button @type="primary" class="public-navbar-button {{if this.onAboutUsPage 'selected'}}">
                {{t "component.headerNav.aboutUs"}}
              </dd.button>
              <dd.menu class="public-about-us-dropdown" @renderInPlace={{true}} as |ddm|>
                {{! put links to other pages here }}
                <LinkTo @route='public.board' class="dropdown-item btn btn-primary">
                  {{t 'mixin.menuItems.board'}}
                </LinkTo>
                <LinkTo @route='public.identity' class="dropdown-item btn btn-primary">
                  {{t 'mixin.menuItems.identity'}}
                </LinkTo>
                <LinkTo @route='public.flux' class="dropdown-item btn btn-primary">
                  {{t 'mixin.menuItems.flux'}}
                </LinkTo>
                <LinkTo @route='public.room-forum' class="dropdown-item btn btn-primary">
                  {{t 'mixin.menuItems.roomForum'}}
                </LinkTo>
              </dd.menu>
            </BsDropdown>
            <LinkTo @route='static-pages.static-page' @model='word-lid' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq this.router.currentURL '/static-pages/word-lid') 'selected'}}">{{t "component.headerNav.becomeMember"}}</BsButton>
            </LinkTo>
            <LinkTo @route='public.partners' class="page-actions-buttons">
              <BsButton @type="primary" class="public-navbar-button {{if (eq this.router.currentURL '/public/partners') 'selected'}}">{{t "component.headerNav.partners"}}</BsButton>
            </LinkTo>
          {{/if}}
        </div>
      </div>

      <div id='navbar-wormhole'></div>

      {{#unless this.session.isAuthenticated}}
        <LinkTo @route='login' class='d-none d-md-flex me-2'>
          <button class='btn btn-primary public-navbar-button {{if (eq this.router.currentRouteName 'login') 'selected'}}' type='button'>
            {{t 'tag.button.signin'}}
          </button>
        </LinkTo>
      {{/unless}}
    </div>

    {{#unless this.session.isAuthenticated}}
      <button
        class='btn btn-locale btn-inverse-locale-{{this.intl.locale}} me-2'
        title='{{t "component.headerNav.changeLocale"}}'
        {{on 'click' this.toggleLocale}}
        type='button'>
      </button>
    {{/unless}}
  </div>
</nav>