<MdEditor::MdEditorToolbar
  @editMode={{mut editMode}}
  @applyStyleOption={{action 'applyStyle'}}
/>

{{#if editMode}}
  <Textarea
    id={{textareaId}}
    @value={{content}}
    class='form-control md-editor'
    rows='15'
  />
{{else}}
  <div class='alert alert-info' role='alert'>
    Heb je een foto ingevoegd in dit artikel? Deze worden pas getoond als je het
    artikel hebt opgeslagen.
  </div>
  {{markdown-to-html content extensions='youtubeEmbed bootstrapTable'}}
{{/if}}