<div class='md-editor-and-toolbar'>
  <MdEditor::MdEditorToolbar
    @editMode={{mut editMode}}
    @applyStyleOption={{this.applyStyle}}
  />

  {{#if editMode}}
    <Textarea
      id={{@textareaId}}
      @value={{@content}}
      class='form-control md-editor'
      rows='15'
    />
  {{else}}
    <div class='alert alert-info' role='alert'>
      Heb je een foto ingevoegd in dit artikel? Deze worden pas getoond als je het
      artikel hebt opgeslagen.
    </div>
    <div class="px-2">
      {{markdown-to-html @content extensions='youtubeEmbed bootstrapTable'}}
    </div>
  {{/if}}
</div>