{{#if this.isOpen}}
  <BasicModal @title='Privacy check' @modalSizeClass='modal-lg'>
    <p>
      Welkom op de Alpha site! We zouden graag wat privacy instellingen met je
      willen doornemen.
    </p>
    <small>
      <b>Vraag {{this.step}} van {{this.maxSteps}}</b>
      <br />
    </small>

    {{#if (eq this.step 1)}}
      <b>
        Wat moeten we doen als we een foto van je op social media willen zetten?
      </b>
      <br />
      <small>Voor meer informatie kijk in het mediabeleid</small>
      <br />
      <br />

      <div class='row'>
        {{#each this.picturePublicationPreferenceTypes as |preference|}}
          <div class='col-4'>
            <div class='btn btn-primary' {{on 'click' (fn this.select 'picturePublicationPreference' preference.value)}}>
              {{preference.label}}
            </div>
          </div>
        {{/each}}
      </div>

    {{else if (eq this.step 2)}}
      <b>Mogen we je data delen met IFES?</b>
      <br />
      <small>
        IFES is een landelijk verband waar we bij betrokken zijn. Voor meer info
        zie
        <a href='https://ifes.nl'>ifes.nl</a>
      </small>
      <br />
      <br />

      <div
        class='btn btn-primary'
        {{on 'click' (fn this.select 'ifesDataSharingPreference' true)}}
      >
        Ja
      </div>
      <div
        class='btn btn-danger'
        {{on 'click' (fn this.select 'ifesDataSharingPreference' false)}}
      >
        Nee
      </div>

    {{else if (eq this.step 3)}}
      <b>Mogen we je gegevens plaatsen in de almanak?</b>
      <br />
      <small>
        De almanak is wordt jaarlijks uitgegeven door Alpha en wordt uitgedeeld
        aan (oud-)alphanen en externe verbanden.
        <br />
        De gegevens zijn je naam, profielfoto en studie.
      </small>
      <br />
      <br />

      <div class='btn btn-primary' {{on 'click' (fn this.select 'infoInAlmanak' true)}}>
        Ja
      </div>
      <div class='btn btn-danger' {{on 'click' (fn this.select 'infoInAlmanak' false)}}>
        Nee
      </div>

    {{else if (eq this.step 4)}}
      <b>Mogen we je gegevens delen met het streepsysteem?</b>
      <br />
      <small>
        De gegevens die gedeeld worden zijn naam, mailadres en geboortedatum.
      </small>
      <br />
      <br />

      <div
        class='btn btn-primary'
        {{on 'click' (fn this.select 'allowTomatoSharing' true)}}
      >
        Ja
      </div>
      <div
        class='btn btn-danger'
        {{on 'click' (fn this.select 'allowTomatoSharing' false)}}
      >
        Nee
      </div>

    {{else if (eq this.step 5)}}
      <b>Met wie mogen we je profieldetails delen?</b>
      <br />
      <small>
        Profieldetails zijn je contactgegevens, studie, geboortedatum en
        dieetwensen.
      </small>
      <br />
      <br />

      <div class='row'>
        {{#each this.userDetailsPreferenceTypes as |preference|}}
          <div class='col-4'>
            <div class='btn btn-primary' {{on 'click' (fn this.select 'userDetailsSharingPreference' preference.value)}}>
              {{preference.label}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if this.errorMessage}}
      <br />
      <br />
      <div class='alert alert-danger'>{{this.errorMessage}}</div>
    {{/if}}
  </BasicModal>
{{/if}}