<div class='card quickpost'>
  <div class='progress bg-white'>
    <div
      class='progress-bar bg-{{this.progressBarClass}}'
      style={{this.progressBarStyle}}
      role='progressbar'
      aria-valuenow={{this.characterCountPercentage}}
      aria-valuemin='0'
      aria-valuemax='100'
    ></div>
  </div>

  <div class='card-block'>
    <div class='p-3 pb-5'>
      <div class='row pb-2'>
        <LinkTo class="p-0 w-auto" @route='users.show' @model={{this.session.currentUser.id}}>
          <img
            class='profile-picture profile-picture-md ms-3 p-0'
            alt='{{this.session.currentUser.fullName}}'
            src='{{this.session.currentUser.avatarThumbUrlOrDefault}}'
          />
        </LinkTo>
        <Textarea
          id='qp-inputfield'
          @value={{this.newQpMessage}}
          rows={{4}}
          class='col form-control ms-3 me-3 qp-inputfield'
          placeholder={{this.welcomeText}}
          minlength='1'
          maxlength={{this.maxCharacters}}
          @enter='saveMessage'
        />
      </div>

      <div class='d-flex float-end'>
        <span
          class='qp-characters-indicator
            {{if this.tooMuchText "text-danger" "text-muted"}}
            {{unless this.currentCharacterCount "hidden"}}
            pt-2 pe-3'
        >
          {{this.currentCharacterCount}}
          /
          {{this.maxCharacters}}
        </span>

        <QuickPostNotificationButton />

        <BsDropdown class='ms-1 d-block' @closeOnMenuClick={{true}} as |dd|>
          <dd.button @type='button' class='btn-default'>
            <FaIcon @icon='face-smile' @prefix='far' />
          </dd.button>
          <dd.menu class='emoticon-holder card' as |menu|>
            <div class='row gx-0'>
              {{#each this.emoticons as |emoticon|}}
                <div class='emoticon' {{action 'appendSmileyToText' emoticon}}>
                  {{emoticon}}
                </div>
              {{/each}}
            </div>
          </dd.menu>
        </BsDropdown>

        <button
          class='btn btn-primary ms-1 mb-3 {{if this.tooMuchText "disabled"}}'
          {{action 'saveMessage'}}
          type='button'
        >
          Versturen
        </button>
      </div>
    </div>

    {{#each this.sortedMessages as |message index|}}
      <hr />
      <div class='row qp-message p-3'>
        <LinkTo class="p-0 w-auto" @route='users.show' @model={{message.author.id}}>
          <img
            class='profile-picture profile-picture-md ms-3 p-0'
            alt='{{message.author.fullName}}'
            src='{{message.author.avatarThumbUrlOrDefault}}'
          />
        </LinkTo>

        <div class='ps-3 col'>
          <div class='row'>
            <LinkTo
              @route='users.show'
              @model={{message.author.id}}
              class='col w-auto'
            >
              <b class='text-sm text-muted'>
                {{message.author.fullNameWithNickname}}
              </b>
            </LinkTo>

            <small class='text-muted pe-3 w-auto'>
              {{#if (can 'destroy quickpost-messages')}}
                <FaIcon
                  @icon='trash'
                  class='qp-destroy-icon link-highlight'
                  {{on 'click' (action 'destroyMessage' message)}}
                />
              {{/if}}
              {{moment-format message.createdAt 'dddd D MMMM HH:mm'}}
            </small>
          </div>
          <p class='qp-message-text'>
            {{linkify message.message '_blank' urlLength=30}}
          </p>
        </div>
      </div>
    {{/each}}

    {{#if this.showLoaderButton}}
      <div class='d-grid'>
        <button
          class='btn btn-sm btn-secondary btn-read-more mx-2'
          {{action 'loadMore'}}
          type='button'
        >
          Meer laden
        </button>
      </div>
    {{/if}}
  </div>
</div>