{{#if this.notification.isSupported}}
  {{#if this.notification.isEnabled}}
    {{#if this.notification.isSoundEnabled}}
      <button {{on 'click' this.disable}} class='btn btn-default' type='button'>
        <FaIcon @icon='volume-high' />
      </button>
    {{else}}
      <button {{on 'click' this.soundOn}} class='btn btn-default' type='button'>
        <FaIcon @icon='bell' />
      </button>
    {{/if}}
  {{else}}
    <button {{on 'click' this.activate}} class='btn btn-default' type='button'>
      <FaIcon @icon='bell-slash' />
    </button>
  {{/if}}
{{/if}}