{{#if notification.isSupported}}
  {{#if notification.isEnabled}}
    {{#if notification.isSoundEnabled}}
      <button {{action "disable"}} class="btn btn-default" type="button">
        <FaIcon @icon='volume-high'/>
      </button>
    {{else}}
      <button {{action "soundOn"}} class="btn btn-default" type="button">
        <FaIcon @icon='bell'/>
      </button>
    {{/if}}
  {{else}}
    <button {{action "activate"}} class="btn btn-default" type="button">
      <FaIcon @icon='bell-slash'/>
    </button>
  {{/if}}
{{/if}}
