{{#if this.swipeDirection}}
  <div
    {{on 'touchstart' this.onTouchStart}}
    {{on 'touchmove' this.onTouchMove}}
    {{on 'touchend' this.onTouchEnd}}
  >
    {{yield}}
  </div>
{{else}}
  <div>
    {{yield}}
  </div>
{{/if}}