<div class='d-flex justify-content-center align-items-center'>
  <img src={{@model.imageUrl}} class='photo-large' />
</div>

{{#if (can 'show individual users')}}
  {{#if this.showInfo}}
    <p class='text-right text-muted mt-2'>
      Foto geüpload door
      <LinkTo @route='users.show' @model={{@model.uploader.id}}>
        {{@model.uploader.fullNameWithNickname}}
      </LinkTo>

      {{#if @model.hasExif}}
        <button
          class='ml-1 btn btn-sm btn-outline-info'
          {{action 'toggleShowExif'}}
          type='button'
        >
          Toon Exif data
        </button>
      {{else}}
        <button class='ml-1 btn btn-sm btn-outline-info disabled' type='button'>
          Geen Exif data
        </button>
      {{/if}}
    </p>

    {{#if showExif}}
      <div class='card card-body'>
        <table class='table table-sm table-responsive text-nowrap'>
          <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Original Datetime</th>
            <th>Exposure</th>
            <th>Aperture</th>
            <th>ISO</th>
            <th>Copyright</th>
            <th>Lens</th>
            <th>Zoom</th>
          </tr>
          <tr>
            <td>{{@model.exifMake}}</td>
            <td>{{@model.exifModel}}</td>
            <td>
              {{moment-format @model.exifDateTimeOriginal 'DD-MM-YYYY HH:mm'}}
            </td>
            <td>{{@model.exifExposureTime}}</td>
            <td>
              {{#if @model.exifApertureValue}}
                f/{{@model.exifApertureValue}}
              {{/if}}
            </td>
            <td>{{@model.exifIsoSpeedRatings}}</td>
            <td>{{@model.exifCopyright}}</td>
            <td>{{@model.exifLensModel}}</td>
            <td>
              {{#if @model.exifFocalLength}}
                {{@model.exifApertureValue}}
              {{/if}}
            </td>
          </tr>
        </table>
      </div>
    {{/if}}
  {{/if}}
{{/if}}