{{#ember-wormhole to="navbar-wormhole"}}
  {{page-actions-buttons pageActions=pageActions}}
{{/ember-wormhole}}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="row">
        <div class="col-md">
          <div class="card-header">
            <h2>{{t 'Mandaat'}} {{model.id}}</h2>
          </div>
          <div class="card-body table-responsive">
            <p class="card-text">
              <table class="table table-sm">
                <tr>
                  <td>{{t "Start datum"}}</td>
                  <td>{{moment-format model.startDate 'DD-M-YYYY'}}</td>
                </tr>
                <tr>
                  <td>{{t "Eind datum"}}</td>
                  <td>{{moment-format model.endDate 'DD-M-YYYY'}}</td>
                </tr>
                <tr>
                  <td>{{t "IBAN"}}</td>
                  <td>{{model.iban}}</td>
                </tr>
                <tr>
                  <td>{{t "IBAN houder"}}</td>
                  <td>{{model.ibanHolder}}</td>
                </tr>
                <tr>
                  <td>{{t "Gebruiker"}}</td>
                  <td>
                    {{#link-to 'users.show' model.user}}{{model.user.fullName}}{{/link-to}}
                  </td>
                </tr>
              </table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
