<h5>Wachtwoord wijzigen </h5>

<form class="form" {{action "changePassword" on="submit"}}>
  {{#if passwordErrorMessage}}
    <div class="alert alert-danger" role="alert">
      <strong>{{passwordErrorMessage}}</strong>
    </div>
  {{/if}}

  <div class="form-group row">
    <label class="col-sm-5 col-form-label form-control-label">Oud wachtwoord</label>
    <div class="col-sm-7">
      {{input type="password" value=oldPassword placeholder="Oud wachtwoord" required="true"
              autofocus="autofocus"
              class="form-control"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-5 col-form-label form-control-label">Wachtwoord</label>
    <div class="col-sm-7">
      {{input type="password" value=password placeholder="Wachtwoord (minimaal 12 tekens)" required="true"
              class="form-control"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-5 col-form-label form-control-label">Herhaal wachtwoord</label>
    <div class="col-sm-7">
      {{input type="password" value=passwordConfirmation placeholder="Wachtwoord herhalen" required="true"
              class="form-control"}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary" disabled={{isSaveButtonDisabled}}>Wachtwoord aanpassen</button>
</form>