<h5>Privacyinstellingen</h5>
<form class="form" {{action "submit" on="submit"}}>
  {{#if isOwnUser}}
    <div class="form-group row">
      <label class="col-sm-6 col-form-label form-control-label">
        Profieldetails (contactgegevens, studie, geboortedatum en dieetwensen) delen
      </label>
      <div class="col-sm-6">
        <Input::SelectInput @class="form-control" @required={{true}} @options={{userDetailsPreferenceTypes}} @placeholder="" @value={{model.userDetailsSharingPreference}} />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-10 col-sm-6 col-form-label form-control-label">
        Gegevens (naam, mailadres, geboortedatum) mogen gedeeld worden met het streepsysteem
      </label>
      <div class="col-2 col-sm-6">
        <div class="form-check">
          <label class="form-check-label">
            <Input @type="checkbox" @checked={{model.allowTomatoSharing}} @disabled={{canChangeTomatoSettings}} class="form-check-input" />
            <div class="custom-checkmark"></div>
          </label>
        </div>
      </div>
    </div>

    {{#if model.allowTomatoSharing}}
      <div class="alert alert-info">
        Het is alleen mogelijk deze instelling uit te zetten via het bestuur. Om dit te deactiveren moet uw saldo namelijk eerst 0 zijn.
      </div>
    {{/if}}
  {{/if}}

  <div class="form-group row">
    <label class="col-sm-6 col-form-label form-control-label">
      Mediabeleidvoorkeur
    </label>
    <div class="col-sm-6">
      {{input/select-input
        data-test-picturePublicationPreferenceTypes
        class="form-control"
        required=true
        options=picturePublicationPreferenceTypes
        placeholder="Mediabeleidvoorkeur"
        value=model.picturePublicationPreference}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-10 col-sm-6 col-form-label form-control-label">
      Gegevens mogen gedeeld worden met IFES
    </label>
    <div class="col-2 col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          {{input
            data-test-ifesDataSharingPreference
            type="checkbox"
            checked=model.ifesDataSharingPreference
            class="form-check-input"}}
          <div class="custom-checkmark"></div>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-10 col-sm-6 col-form-label form-control-label">
      Gegevens (naam, afbeelding, studie) mogen gedeeld worden in de almanak
    </label>
    <div class="col-2 col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          {{input
            data-test-infoInAlmanak
            type="checkbox"
            checked=model.infoInAlmanak
            class="form-check-input"}}
          <div class="custom-checkmark"></div>
        </label>
      </div>
    </div>
  </div>

  {{#if formActionsVisible}}
    <ModelForm::FormActions @errors={{model.errors}} @errorMessage={{errorMessage}} @inputLayout="vertical">
      <LinkTo @route="users.show" @model={{model}} class="btn btn-default">Annuleren</LinkTo>
    </ModelForm::FormActions>
  {{/if}}
</form>
