<div class="circle-card {{if @horizontal "horizontal" "vertical"}}">
  <img class="card-image" src={{@imgurl}} alt="">
  <div class="content">
    <h2 class="card-title">{{@title}}</h2>
    <h3 class="card-subtitle">{{@subtitle}}</h3>
    <p class="card-text">{{@text}}</p>
  </div>
</div>