<div class='row'>
  <div class='col-md-6 offset-md-3 login-form-holder'>
    <div class='card login-form'>
      <form {{on 'submit' (prevent-default resetPassword)}}>
        <div class='card-body'>
          <h4 class='card-title'>Account activeren</h4>
          {{#if this.successMessage}}
            <div class='alert alert-success' role='alert'>
              <strong>{{this.successMessage}}</strong>
            </div>
          {{else if this.errorMessage}}
            <div class='alert alert-danger' role='alert'>
              <strong>{{this.errorMessage}}</strong>
            </div>
          {{else if this.infoMessage}}
            <div class='alert alert-info' role='alert'>
              <span>{{this.infoMessage}}</span>
            </div>
          {{/if}}

          <div class='mb-3'>
            <Input
              @type='password'
              @value={{this.password}}
              placeholder='Wachtwoord (minimaal 12 tekens)'
              required={{true}}
              class='form-control'
              id='field-password'
            />
          </div>
          <div class='mb-3'>
            <Input
              @type='password'
              @value={{this.passwordConfirmation}}
              placeholder='Wachtwoord herhalen'
              required={{true}}
              class='form-control'
              id='field-password-confirmation'
            />
          </div>
          <button
            type='submit'
            class='btn btn-primary float-md-start reset-password-button'
            disabled={{this.isSaveButtonDisabled}}
          >
            Account activeren
          </button>
        </div>
      </form>
    </div>
  </div>
</div>