<TabbedView @tabItems={{tabItems}}>
  <form class='form' {{action 'submit' on='submit'}}>
    <h5>Permissies</h5>
    <Permissions::PermissionsTable
      @modelPermissions={{@model.userPermissions}}
      @editable={{true}}
    />

    <ModelForm::FormActions
      @errors={{@model.errors}}
      @errorMessage={{this.errorMessage}}
      @inputLayout='vertical'
    >
      <LinkTo
        @route='users.show-permissions'
        @model={{model.id}}
        class='btn btn-default'
      >Annuleren</LinkTo>
    </ModelForm::FormActions>
  </form>
</TabbedView>