<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card login-form">
        <form {{action 'forgotPassword' on='submit'}}>
          <div class="card-header">
            <h5 class="card-title pl-2">{{t 'template.users.forgotPassword.recoverPassword'}}</h5>
          </div>
          <div class="card-body p-4">
            {{#if successMessage}}
              <div class="alert alert-success" role="alert">
                <span>{{successMessage}}</span>
              </div>
            {{/if}}
            {{#if errorMessage}}
              <div class="alert alert-danger" role="alert">
                <span>{{errorMessage}}</span>
              </div>
            {{/if}}

            <div class="form-group">
              {{input type="email" value=email placeholder=(t 'template.users.forgotPassword.email') required="true" autofocus="autofocus" class="form-control" id="field-email"}}
            </div>
            <button type="submit" class="btn btn-primary login-button">
              {{t 'template.users.forgotPassword.recoverPassword'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
