<EmberWormhole @to="navbar-wormhole">
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar @class="col-12 col-md" @filter={{search}} @sortedAttribute={{sortedAttribute}} @sortableAttributes={{sortableAttributes}} @sortedAscending={{sortedAscending}} @enter={{action "selectFirstItem"}} />
  </PageActionsButtons>
</EmberWormhole>

<div class="row">
  {{#each model as |user|}}
    {{!-- only pass id when force reload is required, see http://emberigniter.com/force-store-reload-data-api-backend/ --}}
    <LinkTo @route="users.show" @model={{user.id}} class="col-6 col-sm-4 col-md-3">
      <Cards::MembershipCard @title={{user.fullName}} @subtitle={{user.study}} @imageSource={{user.avatarThumbUrlOrDefault}} />
    </LinkTo>
  {{/each}}
</div>

<div class="row justify-content-center">
  <PageNumbers @info={{model.meta}} />
</div>
