<div class="card">
  <div class="card-header">
    <h5> Gebruiker aanmaken </h5>
  </div>

  <div class="card-body">
    <Users::Form
      @model={{@model}}
      @onSubmit={{action "submit"}}
      @onFileLoaded={{action "fileLoaded"}}
      @canEditOnlyOwnProperties={{this.canEditOnlyOwnProperties}}
      @almanakSubscriptionPreferenceTypes={{this.almanakSubscriptionPreferenceTypes}}
      @digtusSubscriptionPreferenceTypes={{this.digtusSubscriptionPreferenceTypes}}
      @errorMessage={{this.errorMessage}}
    />
  </div>
</div>
