{{#ember-wormhole to="navbar-wormhole"}}
  {{page-actions-buttons pageActions=pageActions}}
{{/ember-wormhole}}

{{#tabbed-view tabItems=tabItems}}
  <h5>Mail aliassen</h5>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="col-md-4">Alias</td>
          <td class="col-md-8">Beschrijving</td>
          <td class="col-md-8">Moderatietype</td>
          <td class="col-md-8">Groep</td>
        </tr>
      </thead>
      <tbody>
        {{#each model.mailAliases as |alias|}}
          <tr>
            <td>
              {{#link-to 'mail-aliases.show' alias}}
                {{alias.email}}
              {{/link-to}}
            </td>
            <td>{{alias.description}}</td>
            <td>{{alias.moderationType}}</td>
            <td>--</td>
          </tr>
        {{/each}}
        {{#each model.groupMailAliases as |alias|}}
          <tr>
            <td>
              {{#link-to 'mail-aliases.show' alias}}
                {{alias.email}}
              {{/link-to}}
            </td>
            <td>{{alias.description}}</td>
            <td>{{alias.moderationType}}</td>
            <td>
              {{#link-to 'groups.show' alias.group}}
                {{alias.group.name}}
              {{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/tabbed-view}}
