<EmberWormhole @to="navbar-wormhole">
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<TabbedView @tabItems={{tabItems}}>
  <h5>Mail aliassen</h5>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="col-md-4">Alias</td>
          <td class="col-md-8">Beschrijving</td>
          <td class="col-md-8">Moderatietype</td>
          <td class="col-md-8">Groep</td>
        </tr>
      </thead>
      <tbody>
        {{#each @model.mailAliases as |alias|}}
          <tr>
            <td>
              <LinkTo @route="mail-aliases.show" @model={{alias}}>
                {{alias.email}}
              </LinkTo>
            </td>
            <td>{{alias.description}}</td>
            <td>{{alias.moderationType}}</td>
            <td>--</td>
          </tr>
        {{/each}}
        {{#each @model.groupMailAliases as |alias|}}
          <tr>
            <td>
              <LinkTo @route="mail-aliases.show" @model={{alias}}>
                {{alias.email}}
              </LinkTo>
            </td>
            <td>{{alias.description}}</td>
            <td>{{alias.moderationType}}</td>
            <td>
              <LinkTo @route="groups.show" @model={{alias.group.id}}>
                {{alias.group.name}}
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</TabbedView>
