<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<TabbedView @tabItems={{tabItems}}>
  <div class='row tabs-with-filterbar-row'>
    <div class='col'>
      <ul class='nav nav-tabs d-flex'>
        <li class='nav-item'>
          <a
            class='nav-link
              {{unless oldMembershipsTabActive "active"}}
              {{if (eq currentMemberships.length 0) "disabled"}}'
            {{action 'hideOldMemberships'}}
          >
            Huidige groepen
          </a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link
              {{if oldMembershipsTabActive "active"}}
              {{if (eq oldMemberships.length 0) "disabled"}}'
            {{action 'showOldMemberships'}}
          >
            Voorheen
          </a>
        </li>
        <div class="flex-grow-1 d-flex justify-content-end">
          <FilterBar
            @class='col-12 col-lg-5 mb-2 mb-lg-0'
            @filter={{this.filter}}
            @setFilter={{this.setFilter}}
            @sortedAttribute={{this.sortedAttribute}}
            @setSortedAttribute={{this.setSortedAttribute}}
            @sortableAttributes={{this.sortableAttributes}}
            @sortedAscending={{this.sortedAscending}}
            @setSortedAscending={{this.setSortedAscending}}
            @enter={{this.selectFirstItem}}
          >
            <div class='form-check'>
              <Input
                @type='checkbox'
                @checked={{showAdministrativeGroups}}
                class='form-check-input'
                id="show-administrative-groups-check"
              />
              <label class='form-check-label' for="show-administrative-groups-check">
                Toon administratieve groepen
              </label>
            </div>
          </FilterBar>
        </div>
      </ul>
    </div>
  </div>

  <div class='card-body row'>
    {{#each filteredModelsWithAdministrative as |membership|}}
      <LinkTo
        @route='groups.show'
        @model={{membership.group.id}}
        class='col-sm-12 col-md-6 col-lg-4'
      >
        <Cards::MembershipCard
          @title={{membership.group.name}}
          @subtitle={{membership.function}}
          @imageSource={{membership.group.avatarThumbUrlOrDefault}}
          @administrative={{membership.group.administrative}}
        >
          <small>
            {{moment-format membership.startDate 'DD-MM-YYYY'}}
            -
            {{#if membership.endDate}}
              {{moment-format membership.endDate 'DD-MM-YYYY'}}
            {{else}}
              heden
            {{/if}}
          </small>
        </Cards::MembershipCard>
      </LinkTo>
    {{else}}
      <div class='alert alert-warning col-xs'>
        Geen groepen gevonden
      </div>
    {{/each}}
  </div>
</TabbedView>