<div class="index-stories">
  <h1> {{t 'component.index.stories.title'}} </h1>
  <div class="row">

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Laurens'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/laurens.jpg" alt="Laurens" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.laurens1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.laurens2'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Luuk'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/luuk.jpg" alt="Luuk" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.luuk1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.luuk2'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Susan'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/susan.jpg" alt="Susan" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.susan'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Afke'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/afke.jpg" alt="Afke" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.afke1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.afke2'}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
