<div class="index-stories">
  <h1> {{t 'component.index.stories.title'}} </h1>
  <div class="row">

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Bart'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/bart.jpg" alt="Bart" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.bart1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.bart2'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Suzanne'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/suzanne.jpg" alt="Suzanne" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.suzanne1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.suzanne2'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Andreas'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/andreas.jpg" alt="Andreas" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.andreas'}}
          </p>
        </div>
      </div>
    </div>

    <div class="article-col col-md-6 col-lg-3">
      <div class="card tool">
        <div class="card-header">
          <h5>{{t 'component.index.stories.of' name='Sara'}}</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="images/frontpage/sara.jpg" alt="Sara" class="profile-picture profile-picture-large">
          </div>
          <br>
          <p class="text-left">
            {{t 'component.index.stories.sara1'}}
          </p>
          <p class="text-left">
            {{t 'component.index.stories.sara2'}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
