<div class="row">
  <div class="col-xs col-lg-9">
    <YoutubeVideo @youtubeId="{{mainVideo.videoId}}" @title="{{mainVideo.title}}" />
  </div>
  <div class="col-xs col-lg-3">
    <div class="about-alpha">
      <div class="about-alpha__container">
        {{#each sideVideos as |video|}}
          <div class="about-alpha__video" title="{{video.title}}" {{action "changeVideo" video}}>
            <img src="https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg" class="about-alpha__thumbnail" alt="{{video.title}}" />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>