<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<TabbedView @tabItems={{tabItems}}>
  <div class='col'>
    <div class='card-body'>
      <p class='card-text'>
        <h2 data-test-fullName>{{@model.fullName}}</h2>
        <table class='table table-sm'>
          <tbody>
            <tr>
              <td/>
              <td/>
            </tr>
            <tr>
              <td>Bijnaam</td>
              <td data-test-nickname>
                {{@model.nickname}}
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td data-test-email>
                <a href='mailto:{{@model.email}}'>{{@model.email}}</a>
              </td>
            </tr>
            <tr>
              <td>Telefoon</td>
              <td data-test-phoneNumber>
                <a href='tel:{{@model.phoneNumber}}'>{{@model.phoneNumber}}</a>
              </td>
            </tr>
            <tr>
              <td>Adres</td>
              <td data-test-address>
                <a
                  href='https://maps.google.com?q={{@model.address}},{{@model.city}}'
                >
                  {{@model.address}}
                </a>
              </td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td data-test-postcode>{{@model.postcode}}</td>
            </tr>
            <tr>
              <td>Stad</td>
              <td data-test-city>{{@model.city}}</td>
            </tr>
            <tr>
              <td>Geboortedatum</td>
              <td data-test-birthday>
                {{moment-format @model.birthday 'DD-MM-YYYY'}}
              </td>
            </tr>
            <tr>
              <td>Studie</td>
              <td data-test-study>{{@model.study}}</td>
            </tr>
            <tr>
              <td>Start studie</td>
              <td data-test-startStudy>
                {{moment-format @model.startStudy 'DD-MM-YYYY'}}
              </td>
            </tr>
            <tr>
              <td>Dieetwensen</td>
              <td data-test-foodPreferences>{{@model.foodPreferences}}</td>
            </tr>
            <tr>
              <td>Vegetariër</td>
              <td data-test-vegetarian>{{boolean-tag @model.vegetarian}}</td>
            </tr>
            <tr>
              <td>Voorkeur voor publicatie van afbeeldingen (mediabeleid)</td>
              <td data-test-picture-publication-preference>
                {{humanize-picture-publication-preference
                  @model.picturePublicationPreference
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>
  <div class='col-md-5 col-xs-12'>
    <img class='card-img-rounded' src='{{@model.avatarUrlOrDefault}}' />
  </div>
</TabbedView>