<div class="card">
  <div class="card-header">
    <h5> {{t 'Incasso aanmaken'}} </h5>
  </div>
  <div class="card-body">
    {{t 'Waar moet ik opletten bij het maken van de csv?'}} <br>
    {{t '1. De eerste regel dient te beginnen met username gevolgd door alle incassoposten'}}<br>
    {{t '2. Op de volgende regels staat de username van de gebruiker gevolgd door de kosten'}}<br>
    {{t '3. Let er op dat er geen eurotekens e.d. in je bestand staan'}}<br>
    {{t '4. Let er op dat je de "totalen" regel onderin het excel bestand verwijderd'}}<br>
    {{t '5. Gebruik een "," als delimiter'}}<br><br>

    {{t 'Waar moet ik opletten bij het aanmaken van de incasso?'}}<br>
    {{t '1. Druk maximaal 1 keer op opslaan'}}<br>
    {{t '2. Controleer je mailbox, hier ontvang je een berichtje of het importeren gelukt is'}}<br>
    {{t '3. Controleer het totaal bedrag in de mail'}}<br><br>
    <form {{action "submit" on="submit"}}>
      {{model-form/file-input  model=model property="importFile" label=(t "Import file") fileLoaded=(action "fileLoaded") validExtensions=validExtensions validMimetypes=validMimetypes}}
      {{model-form/text-input   model=model property="name" label=(t "Titel")             required=true}}
      {{model-form/date-input   model=model property="date" label=(t "Datum van incasso") required=true}}

      {{#model-form/form-actions model=model  errorMessage=errorMessage}}
        {{#link-to "debit.collections" class="btn btn-default"}}{{t "Annuleren"}}{{/link-to}}
      {{/model-form/form-actions}}
    </form>
  </div>
</div>
