<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='card'>
  <div class='card-header d-flex justify-content-between'>
    <h5>
      {{@model.name}}
      -
      {{moment-format @model.date 'DD-MM-YYYY'}}
    </h5>
    <span class='text-muted'>
      Gemaakt door
      {{@model.author.fullName}}
    </span>
  </div>

  <div class='card-body'>
    {{#each this.groupedTransactions as |transactionGroup|}}
      <LinkTo @route='users.show' @model={{transactionGroup.user.id}}>
        <h5>{{transactionGroup.user.fullName}}</h5>
      </LinkTo>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th class="col-8">Beschrijving</th>
            <th class="col-3">Bedrag</th>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          {{#each transactionGroup.transactions as |transaction|}}
          <tr>
            <td class="col-8">{{transaction.description}}</td>
            <td class="col-3">&euro; {{transaction.amount}}</td>
            <td class="col-1">
              {{#if (can 'edit debit/transactions')}}
                <LinkTo
                  @route='debit.transactions.edit'
                  @model={{transaction.id}}
                >
                  <FaIcon @icon='pencil' />
                </LinkTo>
              {{/if}}
              <span class="mx-1"></span>
              {{#if (can 'destroy debit/transactions')}}
                <LinkTo
                  @route='debit.transactions.destroy'
                  @model={{transaction.id}}
                >
                  <FaIcon @icon='trash' />
                </LinkTo>
              {{/if}}
            </td>
          </tr>
          {{else}}
            <tr>
              <td colspan="3">
                <div class='alert> alert-warning'>
                  Geen transacties gevonden
                </div>
              </td>
            </tr>
          {{/each}}
          <tr class="border-bottom-0">
            <td class="col-8 border-bottom-0">Totaal</td>
            <td class="col-3 border-bottom-0">&euro; {{transactionGroup.totalTransactionAmount}}</td>
            <td class="col-1 border-bottom-0"></td>
          </tr>
        </tbody>
      </table>
      {{!-- <div class='row'>
        <div class='col-7'>
          <b>Beschrijving</b>
        </div>
        <div class='col-5'>
          <b>Bedrag</b>
        </div>
      </div> --}}

      {{!-- {{#each transactionGroup.transactions as |transaction|}}
        <div class='row'>
          <div class='col-7'>{{transaction.description}}</div>

          <div class='col-3'>
            <span>&euro; {{transaction.amount}}</span>
          </div>

          <div class='col-2'>
            {{#if (can 'destroy debit/transactions')}}
              <LinkTo
                @route='debit.transactions.destroy'
                @model={{transaction.id}}
              >
                <FaIcon @icon='trash' />
              </LinkTo>
            {{/if}}

            {{#if (can 'edit debit/transactions')}}
              <LinkTo
                @route='debit.transactions.edit'
                @model={{transaction.id}}
              >
                <FaIcon @icon='pencil' />
              </LinkTo>
            {{/if}}
          </div>
        </div>

      {{else}}
        <div class='alert alert-warning'>Geen transacties gevonden</div>
      {{/each}} --}}

      {{!-- {{#if transactionGroup.transactions}}
        <div class='row mt-3'>
          <div class='col-7'>Totaal</div>

          <div class='col-5'>
            <span>&euro; {{transactionGroup.totalTransactionAmount}}</span>
          </div>
        </div>
      {{/if}} --}}

      <hr />
    {{/each}}
  </div>
</div>