<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{this.search}}
      @setFilter={{this.setSearch}}
      @sortedAttribute={{this.sortedAttribute}}
      @setSortedAttribute={{this.setSortedAttribute}}
      @sortableAttributes={{this.sortableAttributes}}
      @sortedAscending={{this.sortedAscending}}
      @setSortedAscending={{this.setSortedAscending}}
      @enter={{this.selectFirstItem}}
    />
  </PageActionsButtons>
</EmberWormhole>

<div class='row'>
  <div class='col-12'>
    {{#each model as |photo|}}
      <div class='card mb-5'>
        <div class='col'>
          <div class='card-body p-0'>
            <div class='row row-cols-1 row-cols-md-2'>
              <div class='col p-0'>
                <LinkTo
                  @route='photo-albums.photo-album.photos.photo'
                  @models={{array photo.photoAlbum photo.id}}
                >
                  <PhotoAlbums::Photo @model={{photo}} @showInfo={{false}} />
                </LinkTo>
              </div>
              <div class='col p-0'>
                <PhotoComments::Comments
                  @model={{photo}}
                  class='position-md-absolute d-md-flex d-none h-100 w-100 mb-0 shadow-none'
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class='row justify-content-center'>
  <PageNumbers @info={{model.meta}} />
</div>