<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{search}}
      @sortedAttribute={{sortedAttribute}}
      @sortableAttributes={{sortableAttributes}}
      @sortedAscending={{sortedAscending}}
      @enter={{action 'selectFirstItem'}}
    />
  </PageActionsButtons>
</EmberWormhole>

<div class='row'>
  <div class='col-12'>
    {{#each model as |photo|}}
      <div class='card'>
        <div class='row row-cols-1 row-cols-md-2 ml-md-3'>
          <div class='col mt-3'>
            <PhotoAlbums::Photo @model={{photo}} />
          </div>
          <div class='col'>
            <PhotoComments::Comments
              @model={{photo}}
              class='photo-comments mb-0'
            />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class='row justify-content-center'>
  <PageNumbers @info={{model.meta}} />
</div>