<span class='font-weight-bold mb-3'>Gesloten vraag</span>

{{#unless question.form.hasResponses}}
  <div class='float-md-end mb-3'>
    <FaIcon @icon='xmark' {{on 'click' (action 'deleteQuestion')}} />
  </div>
{{/unless}}

<div class='form-group'>
  <Input
    @type='text'
    class='form-control'
    aria-label='Vraag'
    name='question'
    placeholder='Vraag'
    @value={{question.question}}
    disabled={{question.form.hasResponses}}
  />
</div>

<div class='form-group row'>
  <div class='col-md-5 col-sm-12'>
    <div class='form-inline'>
      <div class='form-group'>
        <label class='sr-only'>Vraagtype</label>
        <Input::SelectInput
          @class='form-control'
          @required={{required}}
          @options={{questionTypeOptions}}
          @placeholder={{Vraagtype}}
          @value={{question.fieldType}}
          @disabled={{question.form.hasResponses}}
        />
      </div>

      <div class='form-group ms-2'>
        <label class='form-check-label ps-3'>
          <Input
            class='form-check-input'
            @type='checkbox'
            name='required'
            @checked={{question.required}}
            disabled={{question.form.hasResponses}}
          />
          Verplicht
          <div class='custom-checkmark'></div>
        </label>
      </div>
    </div>
  </div>

  {{#unless question.form.hasResponses}}
    <div class='col-md-7 col-sm-12'>
      <div class='float-md-end'>
        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionUp'}}
        >
          <FaIcon @icon='arrow-up' />
          Omhoog
        </button>

        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionDown'}}
        >
          <FaIcon @icon='arrow-down' />
          Omlaag
        </button>
      </div>
    </div>
  {{/unless}}
</div>

{{#each question.sortedOptions as |opt|}}
  {{#unless opt.isDeleted}}
    <div class='form-group'>
      <div class='input-group'>
        <span
          class='input-group-addon d-flex justify-content-center align-items-center'
        >
          <label class='form-check-label' for='check-label'>
            <input type={{question.fieldType}} disabled={{true}} />
            {{#if (eq question.fieldType 'checkbox')}}
              <div class='custom-checkmark input-checkmark'></div>
            {{else}}
              <div class='custom-radiobutton input-checkmark'></div>
            {{/if}}
          </label>
        </span>

        <Input
          @type='text'
          class='form-control'
          aria-label='Optie'
          name='option'
          placeholder='Optie'
          @value={{opt.option}}
          disabled={{question.form.hasResponses}}
        />

        {{#unless question.form.hasResponses}}
          <div class='input-group-append'>
            <button
              type='button'
              class='btn btn-default'
              {{action 'moveOptionUp' opt}}
            >
              <FaIcon @icon='arrow-up' />
            </button>
            <button
              type='button'
              class='btn btn-default'
              {{action 'moveOptionDown' opt}}
            >
              <FaIcon @icon='arrow-down' />
            </button>
            <button
              type='button'
              class='btn btn-default'
              {{action 'deleteOption' opt}}
            >
              <FaIcon @icon='trash' />
            </button>
          </div>
        {{/unless}}
      </div>
    </div>
  {{/unless}}
{{/each}}

{{#unless question.form.hasResponses}}
  <button type='button' class='btn btn-default mb-3' {{action 'addOption'}}>
    Optie toevoegen
  </button>
{{/unless}}