<span class='fw-bold mb-3'>Gesloten vraag</span>

{{#unless question.form.hasResponses}}
  <div class='float-md-end mb-3'>
    <FaIcon @icon='xmark' {{on 'click' (action 'deleteQuestion')}} />
  </div>
{{/unless}}

<div class='mb-3'>
  <Input
    @type='text'
    class='form-control'
    aria-label='Vraag'
    name='question'
    placeholder='Vraag'
    @value={{question.question}}
    disabled={{question.form.hasResponses}}
  />
</div>

<div class='row'>
  <div class='col-md-5 col-sm-12'>
    <div class='d-flex align-items-center flex-wrap'>
      <div class="mb-3 me-2">
        <label class='visually-hidden form-label'>Vraagtype</label>
        <Input::SelectInput
          @class='form-select w-auto'
          @required={{required}}
          @options={{questionTypeOptions}}
          @placeholder={{Vraagtype}}
          @value={{question.fieldType}}
          @disabled={{question.form.hasResponses}}
        />
      </div>

      <div class='form-check mb-3'>
        <Input
            class='form-check-input'
            @type='checkbox'
            name='required'
            @checked={{question.required}}
            disabled={{question.form.hasResponses}}
            id="question-{{question.position}}-required-check"
          />
        <label class='form-check-label' for="question-{{question.position}}-required-check">Verplicht</label>
      </div>
    </div>
  </div>

  {{#unless question.form.hasResponses}}
    <div class='col-md-7 col-sm-12'>
      <div class='float-md-end'>
        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionUp'}}
        >
          <FaIcon @icon='arrow-up' />
          Omhoog
        </button>

        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionDown'}}
        >
          <FaIcon @icon='arrow-down' />
          Omlaag
        </button>
      </div>
    </div>
  {{/unless}}
</div>

{{#each question.sortedOptions as |opt|}}
  {{#unless opt.isDeleted}}
    <div class='d-flex mb-3'>
      <span class='input-group-addon d-flex justify-content-center align-items-center me-3'>
        <input id="question-{{question.position}}-option-{{opt.position}}-check" class="form-check-input" type={{question.fieldType}} disabled={{true}} />
        <label for="question-{{question.position}}-option-{{opt.position}}-required-check"/>
      </span>
      
      <div class='input-group'>
        <Input
          @type='text'
          class='form-control'
          aria-label='Optie'
          name='option'
          placeholder='Optie'
          @value={{opt.option}}
          disabled={{question.form.hasResponses}}
        />

        {{#unless question.form.hasResponses}}
          <button
            type='button'
            class='btn btn-default'
            {{action 'moveOptionUp' opt}}
          >
            <FaIcon @icon='arrow-up' />
          </button>
          <button
            type='button'
            class='btn btn-default'
            {{action 'moveOptionDown' opt}}
          >
            <FaIcon @icon='arrow-down' />
          </button>
          <button
            type='button'
            class='btn btn-default'
            {{action 'deleteOption' opt}}
          >
            <FaIcon @icon='trash' />
          </button>
        {{/unless}}
      </div>
    </div>
  {{/unless}}
{{/each}}

{{#unless question.form.hasResponses}}
  <button type='button' class='btn btn-default mb-3' {{action 'addOption'}}>
    Optie toevoegen
  </button>
{{/unless}}