<span class='fw-bold mb-3'>Open vraag</span>

{{#unless question.form.hasResponses}}
  <div class='float-md-end mb-3'>
    <FaIcon @icon='xmark' {{on 'click' (action 'deleteQuestion')}} />
  </div>
{{/unless}}

<div class='mb-3'>
  <Input
    @type='text'
    class='form-control'
    aria-label='Vraag'
    name='question'
    placeholder='Vraag'
    @value={{question.question}}
    disabled={{question.form.hasResponses}}
  />
</div>

<div class='mb-3 row'>
  <div class='col-md-5 col-sm-12'>
    <div class='d-flex align-items-center flex-wrap'>
      <div>
        <label class='sr-only form-label'>Vraagtype</label>
        <Input::SelectInput
          @class='form-select'
          @required={{required}}
          @options={{questionTypeOptions}}
          @placeholder={{Vraagtype}}
          @value={{question.fieldType}}
          @disabled={{question.form.hasResponses}}
        />
      </div>

      <div class='form-check ms-2'>
        <Input
            class='form-check-input'
            @type='checkbox'
            name='required'
            @checked={{question.required}}
            disabled={{question.form.hasResponses}}
          />
        <label class='form-check-label'>Verplicht</label>
      </div>
    </div>
  </div>

  {{#unless question.form.hasResponses}}
    <div class='col-md-7 col-sm-12'>
      <div class='float-md-end'>
        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionUp'}}
        >
          <FaIcon @icon='arrow-up' />
          Omhoog
        </button>

        <button
          type='button'
          class='btn btn-default'
          {{action 'moveQuestionDown'}}
        >
          <FaIcon @icon='arrow-down' />
          Omlaag
        </button>
      </div>
    </div>
  {{/unless}}
</div>