<div class="card">
  <div class="card-header">
    <h5>{{if model.isNew "Foto-album aanmaken" "Foto-album wijzigen"}}</h5>
  </div>
  <div class="card-body">
    <form {{action "submit" on="submit"}}>
      {{model-form/text-input model=model property="title" label="Titel" required=true}}
      {{model-form/date-input model=model property="date" label="Datum van activiteit"}}
      {{model-form/checkbox-input model=model property="publiclyVisible" label="Zichtbaar voor externen"}}

      {{#if model.publiclyVisible}}
        <div class="alert alert-warning" role="alert">
          Een publiek foto-album verschijnt op de voorpagina, en is ook voor externen zichtbaar. Wees dus voorzichtig met wat je plaatst en zorg dat je toestemming hebt. Zie het mediabeleid voor meer informatie.
        </div>
      {{/if}}

      {{#if model.isNew}}
        <div class="alert alert-info">
          In de volgende stap kun je de foto's uploaden
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          <p> Geplaatste afbeeldingen moeten aan de volgende eisen voldoen: </p>
          <ul>
            <li>Resolutie: Maximaal 4096 pixels breed en hoog</li>
            <li>Bestandsgrootte: Maximaal 8 mb</li>
            <li>Bestandsformaat: .jpg, .jpeg of .png</li>
          </ul>
        </div>
        {{drop-zone url=model.dropzoneEndpoint headers=dropzoneHeaders maxFilesize=model.maxFilesize}}
      {{/if}}

      {{#model-form/form-actions errors=model.errors errorMessage=errorMessage}}
        {{#link-to "photo-albums.index" class="btn btn-default"}}Annuleren{{/link-to}}
      {{/model-form/form-actions}}
    </form>
  </div>
</div>
