{{#if editable}}
  <Input
        @type='checkbox'
        class='form-check-input'
        name={{permission.name}}
        @checked={{hasPermission}}
        id="permission-{{permission.name}}-check"
      />
  <label class='form-check-label' for="permission-{{permission.name}}-check">
    {{permission.action}}
  </label>
{{else}}
  {{#if (or hasPermission hasInheritedPermission)}}
    <span class='badge {{if hasPermission "bg-success" "bg-info"}}'>
      {{#if hasPermission}}
        <FaIcon @icon='check' />
      {{else}}
        <FaIcon @icon='users' />
      {{/if}}
      {{permission.action}}
    </span>
  {{else}}
    <span class='badge badge-default'>
      <FaIcon @icon='xmark' />
      {{permission.action}}
    </span>
  {{/if}}
{{/if}}