<div class='row justify-content-sm-center name-trainer'>
  <div class='card col-xl-6 col-lg-8 col-md-10'>
    {{#if this.started}}
      <div class='card-header'>
        <h1 class='card-title'>{{this.group.name}}</h1>
        <p class='card-subtitle text-muted'>
          Moeilijkheidsgraad:
          {{this.humanizedDifficulty}}
        </p>
      </div>

      {{#if this.started}}
        <div class='progress'>
          <div
            class='progress-bar bg-primary'
            role='progressbar'
            style={{this.progressBarStyle}}
            aria-valuenow='{{this.currentQuestionIndex}}'
            aria-valuemin='0'
            aria-valuemax='{{this.questions.length}}'
          >
            {{this.currentQuestionIndex}}/{{this.questions.length}}
          </div>
        </div>

        {{#if (eq this.difficulty 1)}}
          <div class='card-body text-center trainer-question'>
            <h2 class='card-title'>
              Wie is
              {{this.currentQuestion.question.fullNameWithNickname}}?
            </h2>
          </div>
          <ul
            class='list-group list-group-flush trainer-options trainer-images'
          >
            {{#each this.currentQuestion.options as |opt|}}
              <li
                class='list-group-item trainer-image
                  {{if
                    (and answered (eq this.currentQuestion.question opt))
                    "bg-success"
                  }}'
                {{action 'chooseOption' opt}}
              >
                <img
                  class='card-img-rounded'
                  src='{{opt.avatarThumbUrlOrDefault}}'
                />
              </li>
            {{/each}}
          </ul>

        {{else if (eq this.difficulty 2)}}
          <div class='card-body text-center trainer-question'>
            <h2 class='card-title'>Wie is dit?</h2>
            <img
              class='card-img-rounded trainer-thumb-large'
              src='{{this.currentQuestion.question.avatarThumbUrlOrDefault}}'
            />
          </div>
          <ul class='list-group list-group-flush trainer-options'>
            {{#each this.currentQuestion.options as |opt|}}
              <li
                class='list-group-item trainer-option
                  {{if
                    (and answered (eq this.currentQuestion.question opt))
                    "bg-success"
                  }}'
                {{action 'chooseOption' opt}}
              >
                {{opt.fullNameWithNickname}}
              </li>
            {{/each}}
          </ul>

        {{else if (eq this.difficulty 3)}}
          <div class='card-body text-center trainer-question'>
            {{#if this.answered}}
              <h2 class='card-title'>
                Dit is
                {{this.currentQuestion.question.fullNameWithNickname}}
              </h2>
            {{else}}
              <h2 class='card-title'>Wie is dit?</h2>
            {{/if}}
            <img
              class='card-img-rounded trainer-thumb-large'
              src='{{this.currentQuestion.question.avatarThumbUrlOrDefault}}'
            />
          </div>
          <div class='card-body'>
            <div class='input-group'>
              <Input
                @type='text'
                @value={{this.textInput}}
                id='answer'
                class={{this.inputClass}}
                placeholder='Type hier de volledige naam'
                @enter={{this.checkAnswer}}
              />
              <button
                type='button'
                class='btn btn-primary'
                {{on 'click' checkAnswer}}
              >
                Antwoord
              </button>
            </div>
          </div>
        {{/if}}

        <div class='card-footer text-end'>
          <a class='btn btn-default' {{action 'stopTrainer'}}>Stoppen</a>
        </div>
      {{/if}}

    {{else if this.finished}}
      <div class='card-body text-center trainer-question'>
        <h2 class='card-title'>
          Je hebt
          {{this.success}}
          van de
          {{this.questions.length}}
          vragen goed
        </h2>
        <p class='card-subtitle text-muted'>
          Dat is toch wel een
          {{this.grade}}
          waard
        </p>
      </div>

      <div class='card-body'>
        <h3>Antwoorden</h3>
        <table class='table table-sm'>
          <thead>
            <tr>
              <th scope='col'>Vraag</th>
              <th scope='col'>Correcte antwoord</th>
              <th scope='col'>Jouw antwoord</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.questions as |item|}}
              <tr class='{{unless item.success "table-danger"}}'>
                {{#if (eq this.difficulty 1)}}
                  <td>Wie is {{item.question.fullNameWithNickname}}?</td>
                  <td>
                    <img
                      class='card-img-rounded trainer-thumb-tiny'
                      src='{{item.question.avatarThumbUrlOrDefault}}'
                    />
                  </td>
                  <td>
                    <img
                      class='card-img-rounded trainer-thumb-tiny'
                      src='{{item.answer.avatarThumbUrlOrDefault}}'
                    />
                    {{item.answer.fullNameWithNickname}}
                  </td>

                {{else if (eq this.difficulty 2)}}
                  <td>
                    <img
                      class='card-img-rounded trainer-thumb-tiny'
                      src='{{item.question.avatarThumbUrlOrDefault}}'
                    />
                    Wie is dit?
                  </td>
                  <td>
                    {{item.question.fullNameWithNickname}}
                  </td>
                  <td>
                    <img
                      class='card-img-rounded trainer-thumb-tiny'
                      src='{{item.answer.avatarThumbUrlOrDefault}}'
                    />
                    {{item.answer.fullNameWithNickname}}
                  </td>

                {{else if (eq this.difficulty 3)}}
                  <td>
                    <img
                      class='card-img-rounded trainer-thumb-tiny'
                      src='{{item.question.avatarThumbUrlOrDefault}}'
                    />
                    Wie is dit?
                  </td>
                  <td>
                    {{item.question.fullNameWithNickname}}
                  </td>
                  <td>
                    {{item.answer}}
                  </td>

                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class='card-footer text-end'>
        <a class='btn btn-default' {{action 'stopTrainer'}}>
          Terug naar instellingen
        </a>
      </div>
    {{else}}
      <div class='card-header'>
        <h1 class='card-title'>Namen leren</h1>
      </div>
      {{#if this.errorMessage}}
        <div class='text-danger'>{{this.errorMessage}}</div>
      {{/if}}
      <div class='card-body'>
        <div class='mb-3'>
          <label class="form-label">Groep</label>
          <PowerSelect
            @options={{@model}}
            @selected={{this.group}}
            @onChange={{this.setGroupId}}
            @searchEnabled={{true}}
            @searchField='name'
            as |group|
          >
            {{group.name}}
          </PowerSelect>
        </div>

        <div class='mb-3'>
          <label class="form-label">Moeilijkheidsgraad</label>
          <Input::SelectInput
            @class='form-control'
            @options={{this.difficultyOptions}}
            @placeholder='Moeilijkheidsgraad'
            @value={{this.difficulty}}
          />
        </div>
      </div>
      <div class='card-footer text-end'>
        <a class='btn btn-primary' {{action 'startTrainer'}}>Starten</a>
      </div>
    {{/if}}
  </div>
</div>