<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <div class='col col-md-auto page-action'>
      <button
        class='btn btn-primary'
        {{action 'goToPreviousPhoto'}}
        type='button'
      >
        <FaIcon @icon='arrow-left' />
      </button>
    </div>
    <div class='col col-md-auto page-action'>
      <button class='btn btn-primary' {{action 'goToNextPhoto'}} type='button'>
        <FaIcon @icon='arrow-right' />
      </button>
    </div>
    <div class='col col-md-auto page-action'>
      <a
        class='btn btn-primary col'
        href='{{@model.imageUrl}}'
        download='{{@model.id}}'
      >
        <FaIcon @icon='download' />
        <span class='d-none d-md-inline'>Foto downloaden</span>
      </a>
    </div>
  </PageActionsButtons>
</EmberWormhole>

<Swipeable @onSwipeHorizontal={{this.onSwipe}}>
  <div class='col'>
    <PhotoAlbums::Photo @model={{@model}} />
    <PhotoComments::Comments @model={{@model}} />
  </div>
</Swipeable>