<div class="card">
  <div class="card-body" >
    <div class="row">
      <div class="col-md-3 forum-post-author-info">
        {{#link-to 'users.show' post.author.id}}
          <img src="{{post.author.avatarThumbUrlOrDefault}}" alt="{{ t 'avatar' }}" class="profile-picture profile-picture-large">
        {{/link-to}}
        {{#link-to 'users.show' post.author.id}}
          <p> <strong> {{post.author.fullName}} </strong> </p>
        {{/link-to}}
      </div>
      <div class="col-md-9">
        {{#if showMarkdown}}
          <p>{{textarea value=post.message class="form-control" rows="7" readonly=true}}</p>
        {{else}}
          <p>{{markdown-to-html post.messageCamofied extensions='youtubeEmbed bootstrapTable'}}</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="forum-footer p-3">
    <div class="row justify-content-between">
      <p class="text-muted col mb-0">
        {{moment-format post.createdAt 'DD-M-YYYY HH:mm'}}
        {{#if post.isUpdated}}
          <span class="hidden-md-down"> {{t " - Laatst bewerkt op "}}{{moment-format post.updatedAt 'DD-M-YYYY [om] HH:mm'}} </span>
          <span class="hidden-lg-up"> {{t "- bewerkt"}} </span>
        {{/if}}
      </p>
      <span>
        {{#if (can 'destroy forum/posts')}}
          {{#link-to 'forum.categories.category.threads.thread.posts.destroy' post.id}}
            <i class="fa fa-trash forum-post-moderation-icon"></i>
          {{/link-to}}
        {{/if}}
        {{#if (can 'edit forum/post' post)}}
          {{#link-to 'forum.categories.category.threads.thread.posts.edit' post.id}}
            <i class="fa fa-pencil forum-post-moderation-icon"></i>
          {{/link-to}}
        {{/if}}
        {{#if (can 'quote post of forum/thread' post.thread)}}
          <i {{action 'quote'}} class="fa fa-quote-left link-highlight forum-post-moderation-icon"></i>
        {{/if}}
        <span class="link-highlight" {{action "toggleShowMarkdown"}}><i class="fa fa-code forum-post-moderation-icon"></i></span>
      </span>
    </div>
  </div>
</div>
