<p class="card-text">
  {{md-editor content=content textareaIdentifier='newForumPost'}}
</p>
<div class="card-footer">
  <div class="row justify-content-end">
    <a href="#" class="btn btn-default" {{action "cancel"}}>{{t "Annuleren"}}</a>
    <a href="#" class="btn btn-secondary" {{action "save" content thread}}>{{t "Opslaan"}}</a>
  </div>
</div>
