<div class="card">
  <div class="card-body" >
    <div class="row">
      <div class="col-md-3 forum-post-author-info">
        {{#link-to 'users.show' post.author.id}}
          <img src="{{post.author.avatarThumbUrlOrDefault}}" alt="{{ t 'avatar' }}" class="profile-picture profile-picture-large">
        {{/link-to}}
        {{#link-to 'users.show' post.author.id}}
          <p> <strong> {{post.author.fullName}} </strong> </p>
        {{/link-to}}
      </div>
      <div class="col-md-9">
        {{#if showMarkdown}}
          <p>{{textarea value=post.message class="form-control" rows="7" readonly=true}}</p>
        {{else}}
          <p>{{markdown-to-html post.messageCamofied extensions='youtubeEmbed bootstrapTable'}}</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="forum-footer p-3">
    <div class="row justify-content-between">
      <p class="text-muted col mb-0">
        {{moment-format post.createdAt 'DD-M-YYYY HH:mm'}}
        {{#if post.isUpdated}}
          <span class="hidden-md-down"> {{t " - Laatst bewerkt op "}}{{moment-format post.updatedAt 'DD-M-YYYY [om] HH:mm'}} </span>
          <span class="hidden-lg-up"> {{t "- bewerkt"}} </span>
        {{/if}}
      </p>

      <span class="text-muted pr-1">
        {{#if (can 'destroy forum/posts')}}
          {{#link-to 'forum.categories.category.threads.thread.posts.destroy' post.id class="link-highlight px-2"}}
            {{fa-icon 'trash'}}
          {{/link-to}}
        {{/if}}

        {{#if (can 'edit forum/post' post)}}
          {{#link-to 'forum.categories.category.threads.thread.posts.edit' post.id class="link-highlight px-2"}}
            {{fa-icon 'pencil'}}
          {{/link-to}}
        {{/if}}

        {{#if (can 'quote post of forum/thread' post.thread)}}
          <span class=" px-2">
            {{fa-icon 'quote-left' class="link-highlight" click=(action "quote")}}
          </span>
        {{/if}}

        <span class=" px-2">
          {{fa-icon 'code' class="link-highlight" click=(action "toggleShowMarkdown")}}
        </span>
      </span>
    </div>
  </div>
</div>
