<div class="public-index-about-alpha row my-4 d-flex flex-column align-items-center">
  <h1 class="public-title">{{t 'component.public.index.aboutAlpha.intro-title'}}</h1>
  <hr class="public-title-border border border-secondary bg-secondary border-3 opacity-100" />

  <p class="mt-3 text-center about-text">{{t 'component.public.index.aboutAlpha.intro'}}</p>

  <div class="mt-3 row">
    <div class="about-v col-12 col-md-4 mt-5">
      <Public::Card
        @imgurl = "/images/public/index/vriendschap.jpg"
        @title = {{t 'component.public.index.aboutAlpha.vriendschap-title'}}
        @text = {{t 'component.public.index.aboutAlpha.vriendschap-text'}}
      />
    </div>
    <div class="about-v col-12 col-md-4">
      <Public::Card
        @imgurl = "/images/public/index/vorming.jpg"
        @title = {{t 'component.public.index.aboutAlpha.vorming-title'}}
        @text = {{t 'component.public.index.aboutAlpha.vorming-text'}}
      />
    </div>
    <div class="about-v col-12 col-md-4 mt-5">
      <Public::Card
        @imgurl = "/images/public/index/verantwoordelijkheid.jpg"
        @title = {{t 'component.public.index.aboutAlpha.verantwoordelijkheid-title'}}
        @text = {{t 'component.public.index.aboutAlpha.verantwoordelijkheid-text'}}
      />
    </div>
  </div>
</div>