<div class="public-index-photo-albums row p-5 d-flex flex-column align-items-center">
  <LinkTo @route='photo-albums'>
    <h2 class="public-title public-title-smaller index-title-smaller">{{capitalize (t 'model.photoAlbum.name.other')}}</h2>
  </LinkTo>
  <hr class="public-title-border border border-secondary bg-secondary border-3 opacity-100" />
  <div class='row p-0 mt-4 photo-albums-wrapper'>
    {{#each photoAlbums as |album index|}}
      {{#if (lt index amountOfAlbumsToShow)}}
        <div class='{{if doubleActivityColumns "col-md-12" "col-md-6"}}'>
          <LinkTo @route='photo-albums.photo-album' @model={{album.id}}>
            {{cards/photo-album-card album true}}
          </LinkTo>
        </div>
      {{/if}}
    {{else}}
      <p class="public-no-items-text"><i>{{t 'component.index.public.photos.none'}}</i></p>
    {{/each}}
  </div>
  <div class="d-flex align-items-end">
    <a href="https://www.instagram.com/csvAlpha" class="w-auto me-2">
      <img class="social-icon" src="/images/icons/instagram.png" alt="Instagram">
    </a>
    <a href="https://www.facebook.com/csvAlpha" class="flex-grow-1">
      <img class="social-icon" src="/images/icons/facebook.png" alt="Facebook">
    </a>
    {{#if photoAlbums}}
      <LinkTo @route='photo-albums' @class="w-auto">
        <button class='btn btn-primary btn-lg'>
          {{t 'component.index.public.photos.more'}}
        </button>
      </LinkTo>
    {{/if}}
  </div>
</div>