<div class="public-index-videos-section full-width pb-5 pt-4 pt-md-5">
  <div class="container videos-section-wrapper row d-flex flex-column align-items-center">
    <h1 class="public-title text-white">{{t 'component.public.index.youtube-videos.title'}}</h1>
    <hr class="public-title-border border border-primary bg-primary border-3 opacity-100" />

    <div class='row mt-2 mt-md-4 px-0 px-sm-5'>
      <div class='col-xs col-lg-9 px-1'>
        <YoutubeVideo
          @youtubeId='{{mainVideo.videoId}}'
          @title='{{mainVideo.title}}'
        />
      </div>
      <div class='col-xs col-lg-3 px-1'>
        <div class='public-index-videos'>
          <div class='public-index-videos__container'>
            {{#each sideVideos as |video|}}
              <div
                class='public-index-videos__video'
                title='{{video.title}}'
                {{action 'changeVideo' video}}
              >
                <img
                  src='https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg'
                  class='public-index-videos__thumbnail'
                  alt='{{video.title}}'
                />
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
