{{#if activities}}
  <hr>
  <h2 class="pb-2"> {{t 'component.index.public.activities.title'}} </h2>
  <div class="row">
    {{#each activities as |activity index|}}
      <div class="col-12 col-md-6 col-lg-4">
        {{cards/frontpage-activity-card-small activity class=(if (gt index 5) 'hidden-sm-down') action=(action "openModal" activity)}}
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if modalIsOpen}}
  <EmberWormhole @to="ember-wormhole-destination">
    <div class="modal d-block">
      <div class="activity-modal-backdrop" {{action "closeModal"}}> </div>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-image-header" style={{modalImageStyle}}></div>
            <h2 class="modal-title"> {{modalTitle}} </h2>
            <p> <i> {{modalLocation}} </i> </p>
            {{markdown-to-html modalText extensions='youtubeEmbed bootstrapTable'}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" {{action "closeModal"}}> {{t 'tag.button.close'}} </button>
          </div>
        </div>
      </div>
    </div>
  </EmberWormhole>
{{/if}}
