<div class="position-relative photo-tags {{if showTags 'photo-tags--show'}}" {{on 'click' this.addTag}}>
  {{yield}}

  {{#if (gt @model.amountOfTags 0)}}
    <button class="btn btn-info photo-tags-button" type="button" {{on 'click' this.toggleShowTags}}>
      <FaIcon @icon='tag' />
      {{ @model.amountOfTags }}
    </button>
  {{/if}}

  {{#each @model.tags as |tag|}}
    <div class="photo-tag" style={{ tag.tagStyle }}>
      <LinkTo @route='users.user.photos' @model={{tag.taggedUser.id}}>
        {{ tag.taggedUser.fullName }}
      </LinkTo>
      {{#if (can 'destroy photo-tag' tag)}}
        <FaIcon @icon='xmark' {{ on 'click' (fn this.deleteTag tag) }} />
      {{/if}}
    </div>
  {{/each}}

  {{#if newTagStyle }}
    <div class="photo-tag photo-tag--new" style={{ newTagStyle }}>
      <PowerSelect
        @options={{this.users}}
        @onChange={{action 'storeTag'}}
        @searchEnabled={{true}}
        @searchField='fullName'
        @registerAPI={{ action 'openUserSelect' }}
        as |user|
      >
        {{user.fullName}}
      </PowerSelect>
    </div>
  {{/if}}
</div>

{{#if newTagStyle }}
  <div class="photo-tag-close" {{ on 'click' this.hideAddTag }}></div>
{{/if}}