{{#if @model.hasResponses}}
  <div class="alert alert-danger">
    Je kunt deze poll niet verwijderen, omdat er al reacties zijn!
  </div>
  <LinkTo @route="polls.show" @model={{model.id}} class="btn btn-default">Terug</LinkTo>
{{else}}
  <p>Weet je zeker dat je deze poll ({{@model.question.question}}) wilt verwijderen?</p>

  <button {{action "destroy"}} class="btn btn-danger" type="button">Ja</button>
  <LinkTo @route="polls.show" @model={{model.id}} class="btn btn-default" @tagName="button">Nee</LinkTo>

  {{#if errorMessage}}
    <div class="text-danger">{{this.errorMessage}}</div>
  {{/if}}
{{/if}}
