<div class='card'>
  <div class='card-header'>
    <h5>{{if @model.isNew 'Poll aanmaken' 'Poll wijzigen'}}</h5>
  </div>
  <div class='card-body'>
    <form {{action 'submit' on='submit'}}>
      {{poll/poll-form @model.form}}

      <ModelForm::FormActions
        @errors={{combinedErrors}}
        @errorMessage={{this.errorMessage}}
      >
        <LinkTo
          @route='polls.show'
          @model={{model.id}}
          class='btn btn-default'
        >Annuleren</LinkTo>
      </ModelForm::FormActions>
    </form>
  </div>
</div>