<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{search}}
      @sortedAttribute={{sortedAttribute}}
      @sortableAttributes={{sortableAttributes}}
      @sortedAscending={{sortedAscending}}
      @enter={{this.selectFirstItem}}
    />
  </PageActionsButtons>
</EmberWormhole>

<div class='card'>
  <div class='row rtable-row header d-none d-md-flex'>
    <span class='col'> Vraag </span>
    <span class='col-3'> Sluitingsdatum </span>
    <span class='col-1 rtable-ta-right'> # </span>
  </div>

  {{#each model as |poll|}}
    <LinkTo @route='polls.show' @model={{poll.id}} data-test-poll-item={{true}}>
      <div class='row rtable-row'>
        <span class='col-12 col-md rtable-item'>
          {{form/status-icon poll.form}}
          {{poll.question.question}}
        </span>
        <span class='col-8 col-md-3 text-muted rtable-item'>
          <span class='d-inline d-md-none'> Sluit </span>
          {{moment-calendar poll.form.respondUntil}}
        </span>
        <span class='col-4 col-md-1 text-muted rtable-item rtable-ta-right'>
          {{poll.form.amountOfResponses}}
          <span class='d-inline d-md-none'> reacties </span>
        </span>
      </div>
    </LinkTo>
  {{/each}}
</div>

<div class='row justify-content-center'>
  <PageNumbers @info={{model.meta}} />
</div>