{{#ember-wormhole to="navbar-wormhole"}}
  {{page-actions-buttons pageActions=pageActions}}
{{/ember-wormhole}}

<div class="card polls-card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md">
        <h5 data-test-poll-title>{{model.poll.question.question}}</h5>
      </div>
    </div>
  </div>
  <div class="row card-subheader-row ml-0 mr-0">

    <div class="col-12 col-md-7 card-subheader-item align-items-center p-3">
      <i class="fa fa-clock-o"></i>
      {{#if model.form.currentUserCanRespond}}
        <span> {{t 'Deze poll sluit '}} {{moment-calendar model.form.respondUntil}} </span>
      {{else if model.poll.closedWithNoResponses}}
        <span> {{t 'Deze poll is '}} {{moment-calendar model.form.respondUntil}} {{t 'gesloten zonder reacties.'}} </span>
      {{else if model.poll.opensLater}}
        <span> {{t 'Deze poll opent '}} {{moment-calendar model.form.respondFrom}} </span>
      {{else}}
        <span> {{t 'Deze poll '}} {{if model.poll.closesLater 'sluit' 'sloot'}} {{moment-calendar model.form.respondUntil}} </span>
      {{/if}}
    </div>
    <div class="col-12 col-md-2 card-subheader-item align-items-center p-3">
      <i class="fa fa-users"></i>
      {{model.form.amountOfResponses}} {{t " reacties"}}
    </div>
    <div class="col-12 col-md-3 card-subheader-item align-items-center p-3">
      <i class="fa fa-user"></i>
      <span data-test-poll-author>
        {{#link-to 'users.show' model.poll.author class="link-to card-subtitle-link"}}
          {{model.poll.author.fullName}}
        {{/link-to}}
      </span>
    </div>
  </div>
  <div class="card-body p-3">
    {{#if model.form.currentUserCanRespond}}
      <form {{action "submitResponse" on="submit"}}>
        {{form/response/response-form model.form model.currentUserResponse}}
        {{#model-form/form-actions errors=form.errors errorMessage=errorMessage submitButtonLabel='Opslaan' inputLayout='vertical'}}
          {{#link-to "polls.index" class="btn btn-default"}}{{t "Annuleren"}}{{/link-to}}
        {{/model-form/form-actions}}
      </form>
    {{else if model.poll.closedWithNoResponses}}
      <div class="alert alert-danger">
        {{t 'Deze poll is '}} {{moment-calendar model.form.respondUntil}} {{t 'gesloten zonder reacties.'}}
      </div>
    {{else if model.poll.opensLater}}
      <div class="alert alert-info">
        {{t 'Deze poll opent '}} {{moment-calendar model.form.respondFrom}}
      </div>
    {{else}}
      <div class="poll-horizontal-chart">
        {{#each optionsWithResults as |bar|}}
          <div class="d-block w-100 mt-2">
            <span class="ml-2"> {{bar.label}} </span>
            <div class="d-flex">
              <div class="bg-primary poll-horizontal-bar" style={{bar.style}}> </div>
              <b class="ml-3">
                {{concat bar.percentage '%'}} {{t "("}}{{bar.value}}{{t ")"}}
              </b>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
