{{!-- app/components/forum/forum-post-new.hbs --}}

<p class='card-text'>
  <MdEditor
    @content={{content}}
    @textareaId='forum-post-new'
    @setContent={{@setContent}}
    {{!-- Pass these actions to MdEditor, assuming it exposes hooks to attach them to its internal textarea --}}
    @onFocusIn={{this.handleFocusIn}}
    @onFocusOut={{this.handleFocusOut}}
    @onKeyDown={{this.handleKeyDown}}
  />
</p>
<div class='card-footer'>
  <div class='row justify-content-end'>
    <a href='#' class='btn btn-default w-auto me-2' {{on 'click' cancel}}>Annuleren</a>
    <a href='#' class='btn btn-secondary w-auto' {{on 'click' save}}>Opslaan</a>
  </div>
</div>