<div class="card">
  <div class="card-header">
    <h5> {{if @model.thread.isNew "Topic aanmaken" "Topic wijzigen"}} </h5>
  </div>
  <div class="card-body">
    <form {{action "submit" on="submit"}}>
      <ModelForm::TextInput @model={{@model.thread}} @property="title" @label="Titel" @required={{true}} />

      {{#if @model.post}}
        <label for="forumpost-message"> Bericht * </label>
        <MdEditor @content={{@model.post.message}} @textareaId="forumpost-message" />
      {{else}}
        {{#if (can "edit forum/threads")}}
          <ModelForm::CheckboxInput @model={{@model.thread}} @property="isOpen" @label="Open voor reacties" />
        {{/if}}
      {{/if}}

      <ModelForm::FormActions @errors={{@model.errors}} @errorMessage={{this.errorMessage}}>
        {{#if @model.thread.isNew}}
          <LinkTo @route="forum.categories.category.threads" class="btn btn-default">Annuleren</LinkTo>
        {{else}}
          <LinkTo @route="forum.categories.category.threads.thread" @model={{@model.thread}} class="btn btn-default">Annuleren</LinkTo>
        {{/if}}
      </ModelForm::FormActions>
    </form>
  </div>
</div>
