<div
  class='col p-0 chess-square {{this.bgColor}}'
  onclick={{action @square.onClick}}
>
  {{#if @square.piece}}
    <div class='w-100 h-100 chess-piece-container'>
      <FaIcon
        @icon={{@square.piece.icon}}
        class='w-75 chess-piece text-{{this.pieceColor}}'
        style='stroke: {{this.strokeColor}};'
      />
    </div>
  {{/if}}

</div>