<div
  class='col p-0 chess-square {{this.bgColor}}'
  onclick={{action @square.onClick}}
>
  {{#if @square.piece}}
    <div class='w-100 h-100 chess-piece-container'>
      <FaIcon
        @icon={{this.pieceIcon}}
        class='w-75 text-{{this.pieceColor}}'
        style='aspect-ratio: 1; height: auto; stroke: {{this.strokeColor}};'
      />
    </div>
  {{/if}}

</div>