<aside class="lustrumbar {{colorClass}}">
  <div class="lustrumbar-header">
    <div class="lustrumbar-titles">
      <h2 class="lustrumbar-title" data-test-activity-title>{{activity.title}}</h2>
      <p class="lustrumbar-date" data-test-activity-date>
        {{#if endsOnSameDateOrNight}}
          {{moment-format activity.startTime 'D MMMM'}}
        {{else}}
          {{moment-format activity.startTime 'D'}}
          {{t '-'}}
          {{moment-format activity.endTime 'D MMMM'}}
        {{/if}}
      </p>
    </div>
  </div>
  <div class="lustrumbar-block">
    <p class="lustrumbar-text">
      {{#unless expanded}}
        {{excerpt}}
      {{/unless}}
    </p>
    {{#if hasForm}}
      {{#if (can 'create form/responses')}}
        {{#if canSubmitResponse}}
          <div class="lustrumbar-button">
            {{t 'Schrijf je in!'}}
          </div>
        {{/if}}
      {{else if activity.publiclyVisible}}
        <div class="lustrumbar-button">
          {{t 'component.lustrum.lustrumBar.signUp'}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{#if expanded}}
    <div class="lustrumbar-extention">
      <div class="lustrumbar-subheader">
        <div class="lustrumbar-subheader-item">
          {{fa-icon 'clock'}}
          <span data-test-activity-startTime>{{moment-format activity.startTime 'dddd D MMMM HH:mm'}}</span>
          {{t 'tot'}}
          <span data-test-activity-endTime>{{moment-format activity.endTime (if activity.endsOnSameDate 'HH:mm' 'dddd D MMMM HH:mm')}}</span>
        </div>
        <div class="lustrumbar-subheader-item">
          {{fa-icon 'map-marker' prefix='fas'}}
          <span data-test-activity-location>
            <a href="https://maps.google.com/?q={{activity.location}}" target="_blank">
              {{activity.location}}
            </a>
          </span>
        </div>
        <div class="lustrumbar-subheader-item">
          {{fa-icon 'money-bill'}}
          &plusmn; &euro;
          <span data-test-activity-price>
            {{activity.formattedPrice}}
          </span>
        </div>
      </div>
      <div class="lustrumbar-body">
        <p class="lustrumbar-text" data-test-activity-description>
          {{markdown-to-html activity.descriptionCamofied extensions='youtubeEmbed bootstrapTable'}}
        </p>
      </div>
    </div>
  {{/if}}
</aside>
