<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar
      @class='col-12 col-md'
      @filter={{this.search}}
      @setFilter={{this.setSearch}}
      @sortedAttribute={{this.sortedAttribute}}
      @setSortedAttribute={{this.setSortedAttribute}}
      @sortableAttributes={{this.sortableAttributes}}
      @sortedAscending={{this.sortedAscending}}
      @setSortedAscending={{this.setSortedAscending}}
      @enter={{this.selectFirstItem}}
    />
  </PageActionsButtons>
</EmberWormhole>

<div class='row'>
  {{#each model as |album|}}
    <div class='col-md-6'>
      <LinkTo @route='photo-albums.photo-album' @model={{album.id}}>
        {{cards/photo-album-card album}}
      </LinkTo>
    </div>
  {{else}}
    <div class='col-md-12'>
      <div class='alert alert-warning'>
        Geen fotoalbums gevonden
      </div>
    </div>
  {{/each}}
</div>

<div class='row justify-content-center'>
  <PageNumbers @info={{model.meta}} />
</div>