<div class="public">
  <Public::Header
    @imageUrl="/images/public/board/banner.jpeg"
    @title="{{t 'template.public.board.header'}}"
  />
  <div class="board row my-4 d-flex flex-column align-items-center">
    <h1 class="public-title">{{t 'template.public.board.senaat'}}</h1>
    <hr class="public-title-border border border-secondary bg-secondary border-3 opacity-100" />
    <p class="mt-3 text-center public-text">{{t 'template.public.board.intro'}}</p>
    <p class="text-center public-text"><i>{{t 'template.public.board.slogan'}}</i></p>
    <div class="members row">
      <div class="member col-12 col-md-6" >
        <Public::Card
          @imgurl="/images/public/board/Stefan.jpg"
          @title="{{t 'template.public.board.chair'}}"
          @subtitle="{{t 'template.public.board.chair-name'}}"
          @text="{{t 'template.public.board.chair-story'}}"
        />
      </div>
      <div class="member col-12 col-md-6">
        <Public::Card
          @imgurl="/images/public/board/Jesse.jpg"
          @title="{{t 'template.public.board.secretary'}}"
          @subtitle="{{t 'template.public.board.secretary-name'}}"
          @text="{{t 'template.public.board.secretary-story'}}"
        />
      </div>
      <div class="member col-12 col-md-6">
        <Public::Card
          @imgurl="/images/public/board/Niels.jpg"
          @title="{{t 'template.public.board.treasurer'}}"
          @subtitle="{{t 'template.public.board.treasurer-name'}}"
          @text="{{t 'template.public.board.treasurer-story'}}"
        />
      </div>
      <div class="member col-12 col-md-6">
        <Public::Card
          @imgurl="/images/public/board/Alina.jpg"
          @title="{{t 'template.public.board.assessor1'}}"
          @subtitle="{{t 'template.public.board.assessor1-name'}}"
          @text="{{t 'template.public.board.assessor1-story'}}"
        />
      </div>
    </div>
    <a class="text-center" href="{{t 'template.public.board.photographer-url'}}">{{t 'template.public.board.photographer'}}</a>
  </div>
  <div class="red-container row d-flex flex-column align-items-center">
    <h1 class="public-title">{{t 'template.public.board.previous-boards'}}</h1>
    <hr class="public-title-border border border-primary bg-primary border-3 opacity-100" />
  </div>
</div>