
<div class="public public-identity">
  <Public::Header 
    @imageUrl="/images/public/identity/banner.jpg" 
    @title="{{t 'component.public.identity.header'}}" 
  />
  <div class="row my-4 d-flex flex-column align-items-center mb-5">
    <p class="public-text">C.S.V. Alpha is opgericht in 1980 en is dé christelijke gezelligheidsvereniging in Enschede waar gezelligheid en christelijke vorming gecombineerd worden tot één unieke studentenvereniging.</p>
    <p class="public-text">De grondslag van Alpha is &quot;de boodschap van de Bijbel als richtsnoer voor het leven&quot;. Als je lid wordt kan je kiezen of je deze grondslag onderschrijft of respecteert. We staan hiermee niet alleen open voor christenen, maar ook voor iedereen die respect heeft voor het christelijk geloof. Met deze grondslag blijft het christelijk karakter van Alpha gewaarborgd, maar is Alpha tegelijkertijd voor allerlei soorten mensen een geschikte vereniging.</p>
  </div>

  <h1 class="public-title public-title-smaller left-align">{{t 'component.public.identity.three-vs.title'}}</h1>
  <hr class="public-title-border-short border border-secondary bg-secondary border-3 opacity-100" />

  <p class="mt-3 public-text">{{t 'component.public.identity.three-vs.intro'}}</p>

  <div class="mt-3">
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/vriendschap.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.vriendschap'}}
      </p>
    </div>
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/vorming.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.vorming'}}
      </p>
    </div>
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/verantwoordelijkheid.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.verantwoordelijkheid'}}
      </p>
    </div>
  </div>
</div>