
<div class="public public-identity">
  <Public::Header 
    @imageUrl="/images/public/identity/banner.jpg" 
    @title="{{t 'component.public.identity.header'}}" 
  />
  <div class="row my-4 d-flex flex-column align-items-center mb-5">
    <p class="public-text">{{t 'component.public.identity.intro-1'}}</p>
    <p class="public-text">{{t 'component.public.identity.intro-2'}}</p>
  </div>

  <h1 class="public-title public-title-smaller left-align">{{t 'component.public.identity.three-vs.title'}}</h1>
  <hr class="public-title-border-short border border-secondary bg-secondary border-3 opacity-100" />

  <p class="mt-3 public-text">{{t 'component.public.identity.three-vs.intro'}}</p>

  <div class="mt-3">
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/vriendschap.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.vriendschap-1'}}
        <b class="text-secondary">{{t 'component.public.identity.three-vs.vriendschap-2'}}</b>
        {{t 'component.public.identity.three-vs.vriendschap-3'}}
      </p>
    </div>
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/vorming.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.vorming-1'}}
        <b class="text-secondary">{{t 'component.public.identity.three-vs.vorming-2'}}</b>
        {{t 'component.public.identity.three-vs.vorming-3'}}
      </p>
    </div>
    <div class="about-v row align-items-center my-4">
      <img class="col-12 col-md-2 about-v-image" src="/images/public/identity/verantwoordelijkheid.jpg" alt="">
      <p class="col-12 col-md-10 public-text">
        {{t 'component.public.identity.three-vs.verantwoordelijkheid-1'}}
        <b class="text-secondary">{{t 'component.public.identity.three-vs.verantwoordelijkheid-2'}}</b>
        {{t 'component.public.identity.three-vs.verantwoordelijkheid-3'}}
      </p>
    </div>
  </div>
</div>