<div class="card tool">
  <div class="card-header">
    <h5 class="card-text">{{t "Verhaal van "}} {{name}}</h5>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <img src="{{imageThumb}}" alt="{{name}}" class="profile-picture profile-picture-large">
    </div>
    <br>
    <p class="card-text">{{content}}</p>
  </div>
</div>
