<div class="card tool upcoming-birthdays-tool">
  <ul class="list-group list-group-flush">
    <div>
      <div class="card-header upcoming-birthdays-tool-header">
        <h5 class="card-text">Verjaardagen</h5>
      </div>
      {{#each users as |user|}}
        {{#if user.hasBirthdayToday}}
          <li class="list-group-item border-0">
            <div class="current-birthday-holder">
              <img class="profile-picture profile-picture-small" src="{{user.avatarThumbUrlOrDefault}}">
              <h6 class="current-birthday-name">
                <strong>
                  {{#link-to 'users.show' user.id}}
                    {{user.fullName}}
                    is vandaag {{user.age}} geworden!
                  {{/link-to}}
                </strong>
              </h6>
            </div>
          </li>
        {{else}}
          <li class="list-group-item">
            {{#link-to 'users.show' user.id}}
              <div class="upcoming-birthday-holder">
                <span class="upcoming-birthday-name"> {{user.fullName}} </span>
                <span class="upcoming-birthday-date"> {{moment-format user.birthday 'DD-MMM'}} </span>
                <span> {{user.upcomingBirthdayAge}} jaar</span>
              </div>
            {{/link-to}}
          </li>
        {{/if}}
      {{else}}
        <li class="list-group-item"> Geen jarigen deze week </li>
      {{/each}}
    </div>
  </ul>
</div>
