<EmberWormhole @to="navbar-wormhole">
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="row">
        <div class="col-md">
          <div class="card-header">
            <h2>{{model.email}}</h2>
          </div>
          <div class="card-body table-responsive">
            <p class="card-text">
              <table class="table table-sm">
                <tr>
                  <td>E-mail</td>
                  <td><a href='mailto:{{model.email}}'>{{model.email}}</a></td>
                </tr>
                <tr>
                  <td>Moderatietype</td>
                  <td>{{model.moderationType}}</td>
                </tr>
                <tr>
                  <td>Moderator</td>
                  <td>
                    {{#if model.moderatorGroup}}
                      <LinkTo @route="groups.show" @model={{model.moderatorGroup}}>{{model.moderatorGroup.name}}</LinkTo>
                    {{else}}
                      --
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Omschrijving</td>
                  <td>{{model.description}}</td>
                </tr>
                <tr>
                  <td>SMTP</td>
                  <td>{{boolean-tag model.smtpEnabled}}</td>
                </tr>
                <tr>
                  <td>Groep</td>
                  <td>
                    {{#if model.group}}
                      <LinkTo @route="groups.show" @model={{model.group}}>{{model.group.name}}</LinkTo>
                    {{else}}
                      --
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Gebruiker</td>
                  <td>
                    {{#if model.user}}
                      <LinkTo @route="users.show" @model={{model.user}}>{{model.user.fullName}}</LinkTo>
                    {{else}}
                      --
                    {{/if}}
                  </td>
                </tr>
              </table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
