{{#link-to 'articles.show' article}}
  <article class="{{if useMaxHeight 'd-flex'}}" itemscope itemtype="http://schema.org/Article">
    <div class="card border-0">
      <div class="card-header card-header--overlay" data-test-frontpage-article-card>
        <div class="embed-responsive embed-responsive-16by9">
          <img itemprop="image" class="card-img-rounded embed-responsive-item" src={{article.coverPhotoUrlOrDefault}}>
        </div>
        <div class="card-title-bar gradient-overlay-rounded d-flex">
          <div class="card-titles col pl-0">
            <h5 itemprop="name headline">{{#if article.pinned}} {{fa-icon "thumbtack"}} {{/if}} {{article.title}}</h5>
            {{#if article.group}}
              {{#link-to 'groups.show' article.group class="link-to card-subtitle-link"}}
                <h5 class="card-subtitle d-none d-sm-block" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">{{article.group.name}}</span>
                </h5>
              {{/link-to}}
            {{else}}
              {{#link-to 'users.show' article.author class="link-to card-subtitle-link"}}
                <h5 class="card-subtitle d-none d-sm-block" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">{{article.author.fullName}}</span>
                </h5>
              {{/link-to}}
            {{/if}}
          </div>
          <span class="card-subtitle align-self-end">
            {{fa-icon "comments"}} {{article.amountOfComments}}
          </span>
        </div>
      </div>
    </div>
  </article>
{{/link-to}}
