<h5 class="float-left">{{t "Privacyinstellingen"}}</h5>
{{#if (can "edit user" model)}}
  {{#link-to "users.edit" model (query-params tab="privacy") class="float-right"}}
    <i class="fa fa-edit"></i>
  {{/link-to}}
{{/if}}
<table class="table table-sm">
  <tr>
    <td>{{t "Ik wil profieldetails (contactgegevens, studie, geboortedatum en dieetwensen) delen met:"}}</td>
    <td data-test-user-details-sharing-preference>
      {{humanize-user-details-sharing-preference model.userDetailsSharingPreference}}
    </td>
  </tr>
  <tr>
    <td>{{t "Gegevens (naam, email, geboortedatum) mogen gedeeld worden met het streepsysteem"}}</td>
    <td data-test-allow-tomato-sharing>
      {{boolean-tag model.allowTomatoSharing}}
    </td>
  </tr>
  <tr>
    <td>{{t "Gegevens mogen gedeeld worden met IFES"}}</td>
    <td data-test-ifes-sharing-preference>
      {{boolean-tag model.ifesDataSharingPreference}}
    </td>
  </tr>
  <tr>
    <td>{{t "Gegevens (naam, afbeelding, studie) mogen gedeeld worden in de almanak"}}</td>
    <td data-test-info-in-almanak>{{boolean-tag model.infoInAlmanak}}</td>
  </tr>
</table>
