<option disabled selected={{not value}}>Selecteer {{placeholder}}</option>
{{#each options as |opt|}}
  <option value={{opt.value}} selected={{eq value opt.value}}>
    {{opt.label}}
  </option>
{{/each}}