<TabbedView @tabItems={{this.tabItems}}>
  <form class='form' {{on 'submit' (prevent-default submit)}}>
    <h5>Permissies</h5>
    <Permissions::PermissionsTable
      @modelPermissions={{@model.userPermissions}}
      @editable={{true}}
    />

    <ModelForm::FormActions
      @errors={{@model.errors}}
      @errorMessage={{this.errorMessage}}
      @inputLayout='vertical'
    >
      <button
        {{on 'click' cancel}}
        type="button"
        class='btn btn-default'
      >
        Annuleren
      </button>
    </ModelForm::FormActions>
  </form>
</TabbedView>