<div class='btn-toolbar' role='toolbar' aria-label='Editor toolbar'>
  <div class='btn-group' role='group'>
    <button
      type='button'
      class='btn btn-secondary'
      {{on 'click' this.toggleEditMode}}
    >
      {{if editMode 'Voorbeeld' 'Bewerk'}}
    </button>
  </div>

  {{#if editMode}}
    {{#each styleOptions.groups as |group|}}
      {{#if group.dropdown}}
        <BsDropdown as |dd|>
          <dd.button @type='secondary'>
            <FaIcon @icon={{group.faIconName}} />
          </dd.button>

          <dd.menu as |menu|>
            {{#each group.options as |opt|}}
              <menu.item>
                <button
                  type='button'
                  class='dropdown-item'
                  {{on 'click' (fn this.applyStyleOption opt)}}
                >
                  <FaIcon
                    @icon={{opt.faIconName}}
                    @size={{opt.size}}
                    @prefix={{opt.faIconPrefix}}
                    @fixedWidth={{true}}
                  />
                  {{opt.name}}
                </button>
              </menu.item>
            {{/each}}
          </dd.menu>
        </BsDropdown>

      {{else}}
        <div class='btn-group' role='group' aria-label='{{group.name}}'>
          {{#each group.options as |opt|}}
            {{#if opt.modal}}
              <button
                type='button'
                class='btn btn-secondary'
                title='{{opt.name}}'
                data-bs-toggle='modal'
                data-bs-target='#insertModal'
                {{on 'click' (fn this.openModal opt)}}
              >
                <FaIcon @icon={{opt.faIconName}} @prefix={{opt.faIconPrefix}} />
              </button>
            {{else}}
              <button
                type='button'
                class='btn btn-secondary'
                title='{{opt.name}}'
                {{on 'click' (fn this.applyStyleOption opt)}}
              >
                <FaIcon @icon={{opt.faIconName}} @prefix={{opt.faIconPrefix}} />
              </button>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{/if}}

  <div class='btn-group'>
    <a href='https://commonmark.org/help/' target='_blank'>
      <button type='button' class='btn btn-secondary' title='Help'>
        <FaIcon @icon='circle-question' />
      </button>
    </a>
  </div>
</div>

<BsModalSimple
  @open={{modalOpen}}
  @fade={{true}}
  @title={{modalOption.name}}
  @submitTitle='Invoegen'
  @closeTitle='Sluiten'
  @onSubmit={{this.submitModal}}
  @onHidden={{action (mut modalOpen) false}}
>
  {{modalOption.modal.question}}
  <br />
  <Input
    @type='text'
    class='form-control'
    id='md-editor-modal-input'
    @value={{modalInput}}
  />
</BsModalSimple>