<h5>Wachtwoord wijzigen </h5>

<form class='form' {{action 'changePassword' on='submit'}}>
  {{#if this.passwordErrorMessage}}
    <div class='alert alert-danger' role='alert'>
      <strong>{{this.passwordErrorMessage}}</strong>
    </div>
  {{/if}}

  <div class='mb-3 row'>
    <label class='col-sm-5 col-form-label form-label'>Oud wachtwoord</label>
    <div class='col-sm-7'>
      <Input
        @type='password'
        @value={{this.oldPassword}}
        placeholder='Oud wachtwoord'
        required={{true}}
        class='form-control'
        aria-label='Oud wachtwoord'
      />
    </div>
  </div>

  <div class='mb-3 row'>
    <label class='col-sm-5 col-form-label form-label'>Wachtwoord</label>
    <div class='col-sm-7'>
      <Input
        @type='password'
        @value={{this.password}}
        placeholder='Wachtwoord (minimaal 12 tekens)'
        required={{true}}
        class='form-control'
        aria-label='Wachtwoord'
      />
    </div>
  </div>

  <div class='mb-3 row'>
    <label class='col-sm-5 col-form-label form-label'>Herhaal wachtwoord</label>
    <div class='col-sm-7'>
      <Input
        @type='password'
        @value={{this.passwordConfirmation}}
        placeholder='Wachtwoord herhalen'
        required={{true}}
        class='form-control'
        aria-label='Herhaal wachtwoord'
      />
    </div>
  </div>

  <button
    type='submit'
    class='btn btn-primary'
    disabled={{this.isSaveButtonDisabled}}
  >
    Wachtwoord aanpassen
  </button>
</form>