<h5>Privacyinstellingen</h5>
<form class='form' {{action @onSubmit on='submit'}}>
  {{#if isOwnUser}}
    <div class='mb-3 row align-items-center'>
      <label class='col-sm-6 col-form-label form-label'>
        Profieldetails (contactgegevens, studie, geboortedatum en dieetwensen)
        delen
      </label>
      <div class='col-sm-6'>
        <Input::SelectInput
          @class='form-control'
          @required={{true}}
          @options={{userDetailsPreferenceTypes}}
          @placeholder=''
          @value={{@model.userDetailsSharingPreference}}
        />
      </div>
    </div>

    <div class='mb-3 row align-items-center'>
      <label class='col-10 col-sm-6 col-form-label form-label' for="share-with-streep-check">
        Gegevens (naam, mailadres, geboortedatum) mogen gedeeld worden met het
        streepsysteem
      </label>
      <div class='col-2 col-sm-6'>
        <Input
          @type='checkbox'
          @checked={{@model.allowTomatoSharing}}
          disabled={{canChangeTomatoSettings}}
          class='form-check-input'
          id="share-with-streep-check"
        />
      </div>
    </div>

    {{#if @model.allowTomatoSharing}}
      <div class='alert alert-info'>
        Het is alleen mogelijk deze instelling uit te zetten via het bestuur. Om
        dit te deactiveren moet uw saldo namelijk eerst 0 zijn.
      </div>
    {{/if}}
  {{/if}}

  <div class='mb-3 row align-items-center'>
    <label class='col-sm-6 col-form-label form-label'>
      Mediabeleidvoorkeur
    </label>
    <div class='col-sm-6'>
      {{input/select-input
        data-test-picturePublicationPreferenceTypes=true
        class='form-control'
        required=true
        options=picturePublicationPreferenceTypes
        placeholder='Mediabeleidvoorkeur'
        value=@model.picturePublicationPreference
      }}
    </div>
  </div>

  <div class='mb-3 row align-items-center'>
    <label class='col-10 col-sm-6 col-form-label form-label' for="share-with-ifes-check">
      Gegevens mogen gedeeld worden met IFES
    </label>
    <div class='col-2 col-sm-6'>
      {{input
        data-test-ifesDataSharingPreference=true
        type='checkbox'
        checked=@model.ifesDataSharingPreference
        class='form-check-input'
        id="share-with-ifes-check"
      }}
    </div>
  </div>

  <div class='mb-3 row align-items-center'>
    <label class='col-10 col-sm-6 col-form-label form-label' for="share-with-almanak-check">
      Gegevens (naam, afbeelding, studie) mogen gedeeld worden in de almanak
    </label>
    <div class='col-2 col-sm-6'>
      {{input
        data-test-infoInAlmanak=true
        type='checkbox'
        checked=@model.infoInAlmanak
        class='form-check-input'
        id="share-with-almanak-check"
      }}
    </div>
  </div>

  {{#if formActionsVisible}}
    <ModelForm::FormActions
      @errors={{@model.errors}}
      @errorMessage={{this.errorMessage}}
      @inputLayout='vertical'
    >
      <button {{action @onCancel}} type="button" class='btn btn-default'>
        Annuleren
      </button>
    </ModelForm::FormActions>
  {{/if}}
</form>