<div class='card'>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Datum</th>
          <th>Onderwerp</th>
          <th>Afzender</th>
          <th>Aan</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |storedMail|}}
          <tr>
            <td><LinkTo
                @route='mail-moderations.show'
                @model={{storedMail.id}}
              >{{storedMail.id}}</LinkTo></td>
            <td><LinkTo
                @route='mail-moderations.show'
                @model={{storedMail.id}}
              >{{moment-format
                  storedMail.date
                  'ddd D MMM YYYY hh:mm'
                }}</LinkTo></td>
            <td><LinkTo
                @route='mail-moderations.show'
                @model={{storedMail.id}}
              >{{storedMail.subject}}</LinkTo></td>
            <td><LinkTo
                @route='mail-moderations.show'
                @model={{storedMail.id}}
              >{{storedMail.sender}}</LinkTo></td>
            <td><LinkTo
                @route='mail-moderations.show'
                @model={{storedMail.id}}
              >{{storedMail.mailAlias.email}}</LinkTo></td>
          </tr>
        {{else}}
          <tr>
            <td colspan='5'>Er zijn geen mails om te modereren</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>