<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='row'>
  <div class='col'>
    <div class='card'>
      <div class='row'>
        <div class='col-md'>
          <div class='card-header'>
            <h5>{{@model.subject}}</h5>
          </div>
          <div class='card-body table-responsive'>
            <p class='card-text'>
              <table class='table table-sm'>
                <tr>
                  <td>Datum</td>
                  <td>
                    {{moment-format @model.receivedAt 'ddd D MMM YYYY HH:mm'}}
                  </td>
                </tr>
                <tr>
                  <td>Afzender</td>
                  <td>{{@model.sender}}</td>
                </tr>
                <tr>
                  <td>Aan</td>
                  <td>{{@model.mailAlias.email}}</td>
                </tr>
                <tr>
                  <td>Body</td>
                  <td><pre>{{@model.plainBody}}</pre></td>
                </tr>
                <tr>
                  <td>Bijlages</td>
                  <td>
                    <ul>
                      {{#each @model.attachments as |attachment|}}
                        <li>
                          <pre>
                            {{attachment.name}}
                            ({{attachment.size}}
                            bytes)
                          </pre>
                        </li>
                      {{/each}}
                    </ul>
                  </td>
                </tr>
              </table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>