<div class='card'>
  <div class='card-header'>
    <h5>Forumbericht verwijderen</h5>
  </div>
  <div class='card-body'>
    <p class='card-text'>
      Weet je zeker dat je dit forumbericht van
      <b>{{@model.author.fullName}}</b>
      wilt verwijderen?
    </p>
    <p class='card-text'>
      <b>Inhoud:</b>
      <br />
      {{@model.message}}
    </p>
    {{#if errorMessage}}
      <div class='text-danger'>{{this.errorMessage}}</div>
    {{/if}}
  </div>
  <div class='card-footer'>
    <button {{on "click" this.destroyModel}} class='btn btn-danger' type='button'>
      Verwijderen
    </button>
    <button
      {{on "click" this.cancel}}
      class='btn btn-default'
      type='button'
    >
      Annuleren
    </button>
  </div>
</div>