<div class='card'>
  <div class='card-header'>
    <h5>Forumpost bewerken</h5>
  </div>
  <div class='card-body'>
    <form {{action 'submit' on='submit'}}>

      <div class='row'>
        <label
          class='col-sm-2'
          for='forum-post-form-message col-form-label form-control-label'
        >Bericht</label>
        <div class='col-sm-10'>
          <MdEditor @content={{@model.message}} />
        </div>
      </div>

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{this.errorMessage}}
      >
        <LinkTo
          @route='forum.categories.category.threads.thread.show'
          @model={{@model.thread}}
          class='btn btn-default'
        >Annuleren</LinkTo>
      </ModelForm::FormActions>
    </form>
  </div>
</div>