<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='row justify-content-center'>
  <PageNumbers @info={{@model.postsPaged.meta}} @replace={{true}} />
</div>

<Swipeable @onSwipeHorizontal={{this.onSwipe}}>
  {{#each @model.postsPaged as |post|}}
    {{#unless post.isDeleted}}
      {{forum/forum-post
        post
        addQuote=addQuote
        data-test-forum-post=post.id
      }}
    {{/unless}}
  {{/each}}
</Swipeable>

{{#if currentPageIsLastPage}}
  {{#unless @model.isOpen}}
    <div class='alert alert-danger' role='alert'>
      <strong>Dit topic is gesloten!</strong>
      {{#if (can 'create post for forum/thread' @model)}}
        Jij kunt echter nog wel reageren omdat je moderatierechten hebt.
      {{else}}
        Je kunt niet meer reageren.
      {{/if}}
    </div>
  {{/unless}}

  {{#if (can 'create post for forum/thread' @model)}}
    <div class='card' id='newForumPostCard'>
      <div class='card-header'>
        <h5>Reageren</h5>
      </div>
      <div class='card-body'>
        <Forum::ForumPostNew
          @thread={{@model}}
          @content={{newContent}}
          @onSubmit={{this.newPostCreated}}
          @setContent={{this.setContent}}
        />
      </div>
    </div>
  {{/if}}
{{/if}}

<div class='row justify-content-center'>
  <PageNumbers @info={{@model.postsPaged.meta}} @replace={{true}} />
</div>