<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='row justify-content-center'>
  <PageNumbers @info={{model.posts.meta}} @replace={{true}} />
</div>

<Swipeable @onSwipeHorizontal={{action 'onSwipe'}}>
  {{#each @model.posts as |post|}}
    {{#unless post.isDeleted}}
      {{forum/forum-post
        post
        addQuote=(action 'addQuote')
        data-test-forum-post=post.id
      }}
    {{/unless}}
  {{/each}}
</Swipeable>

{{#if currentPageIsLastPage}}
  {{#unless @model.thread.isOpen}}
    <div class='alert alert-danger' role='alert'>
      <strong>Dit topic is gesloten!</strong>
      {{#if (can 'create post for forum/thread' @model.thread)}}
        Jij kunt echter nog wel reageren omdat je moderatierechten hebt.
      {{else}}
        Je kunt niet meer reageren.
      {{/if}}
    </div>
  {{/unless}}

  {{#if (can 'create post for forum/thread' @model.thread)}}
    <div class='card' id='newForumPostCard'>
      <div class='card-header'>
        <h5>Reageren</h5>
      </div>
      <div class='card-body'>
        <Forum::ForumPostNew
          @thread={{@model.thread}}
          @content={{newContent}}
          @onSubmit={{action 'newPostCreated'}}
        />
      </div>
    </div>
  {{/if}}
{{/if}}

<div class='row justify-content-center'>
  <PageNumbers @info={{@model.posts.meta}} @replace={{true}} />
</div>