<div class='card'>
  <div class='card-header'>
    <h5>{{if @model.isNew 'Categorie aanmaken' 'Categorie wijzigen'}}</h5>
  </div>
  <div class='card-body'>
    <form {{on 'submit' (prevent-default @onSubmit)}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='name'
        @label='Naam'
        @required={{true}}
      />

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button {{on 'click' @onCancel}} type="button" class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>