<form {{action @onSubmit on='submit'}}>
  <div class='card'>
    <div class='card-header'>
      <h5>Details</h5>
    </div>
    <div class='card-body'>
      <ModelForm::FileInput
        @model={{@model}}
        @property='avatar'
        @label='Groepsafbeeling'
        @loadedCallback={{@onFileLoaded}}
      />
      <ModelForm::TextInput
        @model={{@model}}
        @property='name'
        @label='Naam'
        @required={{true}}
        @disabled={{not (can 'edit protected fields of groups')}}
      />
      <ModelForm::TextareaInput
        @model={{@model}}
        @property='description'
        @label='Omschrijving'
      />
      <ModelForm::SelectInput
        @model={{@model}}
        @property='kind'
        @label='Soort'
        @options={{@groupKindOptions}}
        @required={{true}}
        @disabled={{not (can 'edit protected fields of groups')}}
      />
      <ModelForm::TextInput
        @model={{@model}}
        @property='recognizedAtGma'
        @label='Erkend sinds'
        @disabled={{not (can 'edit protected fields of groups')}}
      />
      <ModelForm::TextInput
        @model={{@model}}
        @property='rejectedAtGma'
        @label='Erkend tot'
        @disabled={{not (can 'edit protected fields of groups')}}
      />
      <ModelForm::CheckboxInput
        @model={{@model}}
        @property='administrative'
        @label='Administratieve groep'
        @disabled={{not (can 'edit protected fields of groups')}}
      />
    </div>

    <div class='card-footer'>
      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <LinkTo @route='groups.index' class='btn btn-default'>Annuleren</LinkTo>
      </ModelForm::FormActions>
    </div>
  </div>

  {{#if (or (can 'create memberships') (can 'update memberships'))}}
    <div class='card'>
      <div class='card-header'>
        <h5>Leden</h5>
      </div>
      <div class='card-body'>
        {{#if (can 'create memberships')}}
          <div class='form-group row'>
            <span class='col-md-2 form-control-label'>Toevoegen</span>

            <div class='col-sm-10'>
              <PowerSelect
                @options={{@users}}
                @onChange={{@onAddUser}}
                @searchEnabled={{true}}
                @searchField='fullName'
                as |user|
              >
                {{user.fullName}}
              </PowerSelect>

              {{form-control-feedback (get @model.errors 'memberships')}}
            </div>
          </div>
        {{/if}}

        <div class='row'>
          <div class='col-md-12 table-responsive'>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>Startdatum</th>
                  <th>Einddatum</th>
                  <th>Functie</th>
                  <th class='narrow'></th>
                </tr>
              </thead>
              <tbody>
                {{#each @model.memberships as |membership|}}
                  {{#unless membership.isDeleted}}
                    <tr>
                      <td>{{membership.user.fullName}}</td>
                      <td>
                        <Input::DateInput
                          @dateValue={{membership.startDate}}
                          @inputClass='form-control'
                          @disabled={{not
                            (or (can 'update memberships') membership.isNew)
                          }}
                        />
                      </td>
                      <td>
                        <Input::DateInput
                          @dateValue={{membership.endDate}}
                          @inputClass='form-control'
                          @disabled={{not
                            (or (can 'update memberships') membership.isNew)
                          }}
                        />
                      </td>
                      <td>
                        <Input
                          @value={{membership.function}}
                          class='form-control'
                          aria-label='Functie'
                          disabled={{not
                            (or (can 'update memberships') membership.isNew)
                          }}
                        />
                      </td>
                      {{#if (can 'destroy membership' membership)}}
                        <td>
                          <button
                            type='button'
                            class='btn btn-danger'
                            {{action @onRemoveMembership membership}}
                          >
                            <FaIcon @icon='trash' />
                          </button>
                        </td>
                      {{/if}}
                    </tr>
                  {{/unless}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class='card'>
    <div class='card-header'>
      <h5>Permissies</h5>
    </div>
    {{#if (can 'create groups-permissions')}}
      <Permissions::PermissionsTable
        @modelPermissions={{@model.permissions}}
        @editable={{true}}
      />
    {{/if}}
  </div>
</form>