<div class='card'>
  <div class='card-header'>
    <h2>Details</h2>
  </div>
  <div class='card-body'>
    <form {{on 'submit' (prevent-default @onSubmit)}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='email'
        @label='E-mail'
        @required={{true}}
        @type='email'
        @placeholder='voorbeeld@csvalpha.nl'
        @labelClass="col-sm-3"
        @inputWrapperClass="col-sm-9"
      />
      <ModelForm::SelectInput
        @model={{@model}}
        @property='moderationType'
        @options={{@mailAliasModerationTypes}}
        @label='Moderatietype'
        @labelClass="col-sm-3"
        @inputWrapperClass="col-sm-9"
      />

      <div class='mb-3 row'>
        <label class='col-md-3 form-label'>Moderator</label>

        <div class='col-sm-9'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{fn (mut @model.moderatorGroup)}}
            @selected={{@model.moderatorGroup}}
            @disabled={{@moderationTypeOpen}}
            @placeholder='Moderator'
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          {{form-control-feedback (get @model.errors 'moderatorGroup')}}
        </div>
      </div>

      <ModelForm::TextInput
        @model={{@model}}
        @property='description'
        @label='Omschrijving'
        @labelClass="col-sm-3"
        @inputWrapperClass="col-sm-9"
      />

      <div class='mb-3 row'>
        <label class='col-md-3 form-label'>Groep</label>

        <div class='col-sm-9'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{fn (mut @model.group)}}
            @selected={{@model.group}}
            @disabled={{@anyUser}}
            @placeholder='Groep'
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          {{form-control-feedback (get @model.errors 'group')}}
        </div>
      </div>

      <div class='mb-3 row'>
        <label class='col-md-3 form-label'>Gebruiker</label>

        <div class='col-sm-9'>
          <PowerSelect
            @options={{@users}}
            @onChange={{fn (mut @model.user)}}
            @selected={{@model.user}}
            @disabled={{@anyGroup}}
            @placeholder='Gebruiker'
            @searchEnabled={{true}}
            @searchField='fullNameWithNickname'
            @allowClear={{true}}
            as |user|
          >
            {{user.fullNameWithNickname}}
          </PowerSelect>

          {{form-control-feedback (get @model.errors 'user')}}
        </div>
      </div>

      <ModelForm::CheckboxInput
        @model={{@model}}
        @property='smtpEnabled'
        @label='SMTP inschakelen'
        @labelClass="col-sm-3"
        @inputWrapperClass="col-sm-9"
      />

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
        @formActionWrapperClass="col-sm-9"
      >
        <button {{on 'click' @onCancel}} type="button" class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>