<div class='card'>
  <div class='card-header'>
    <h2>Details</h2>
  </div>
  <div class='card-body'>
    <form {{action @onSubmit on='submit'}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='email'
        @label='E-mail'
        @required={{true}}
        @type='email'
        @placeholder='voorbeeld@csvalpha.nl'
      />
      <ModelForm::SelectInput
        @model={{@model}}
        @property='moderationType'
        @options={{@mailAliasModerationTypes}}
        @label='Moderatietype'
      />

      <div class='form-group row'>
        <label class='col-md-2 form-control-label'>Moderator</label>

        <div class='col-sm-10'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{action (mut @model.moderatorGroup)}}
            @selected={{@model.moderatorGroup}}
            @disabled={{@moderationTypeOpen}}
            @placeholder='Moderator'
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          <FormControlFeedback @errors={{get @model.errors 'moderatorGroup'}} />
        </div>
      </div>

      <ModelForm::TextInput
        @model={{@model}}
        @property='description'
        @label='Omschrijving'
      />

      <div class='form-group row'>
        <label class='col-md-2 form-control-label'>Groep</label>

        <div class='col-sm-10'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{action (mut @model.group)}}
            @selected={{@model.group}}
            @disabled={{@anyUser}}
            @placeholder='Groep'
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          <FormControlFeedback @errors={{get @model.errors 'group'}} />
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-md-2 form-control-label'>Gebruiker</label>

        <div class='col-sm-10'>
          <PowerSelect
            @options={{@users}}
            @onChange={{action (mut @model.user)}}
            @selected={{@model.user}}
            @disabled={{@anyGroup}}
            @placeholder='Gebruiker'
            @searchEnabled={{true}}
            @searchField='fullNameWithNickname'
            @allowClear={{true}}
            as |user|
          >
            {{user.fullNameWithNickname}}
          </PowerSelect>

          <FormControlFeedback @errors={{get @model.errors 'user'}} />
        </div>
      </div>

      <ModelForm::CheckboxInput
        @model={{@model}}
        @property='smtpEnabled'
        @label='SMTP inschakelen'
      />

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button {{action @onCancel}} type="button" class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>