<div class='card'>
  <div class='card-header'>
    <h5>{{if @model.isNew 'Fotoalbum aanmaken' 'Fotoalbum wijzigen'}}</h5>
  </div>
  <div class='card-body'>
    <form {{on 'submit' (prevent-default @onSubmit)}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='title'
        @label='Titel'
        @required={{true}}
      />
      <ModelForm::DateInput
        @model={{@model}}
        @property='date'
        @label='Datum van activiteit'
      />
      <item>
       <ModelForm::RadioGroup
        @model={{@model}}
        @property='visibility'
        @options={{this.visibilityOptions}}
        @inputLayout='vertical'
        @label='Zichtbaar voor'
        @inputIdentifier='photoCategory'
        @class='sort-radio-group'
       />
     </item>
      {{#if @model.publiclyVisible}}
        <div class="row">
          <div class="col-sm-10 offset-sm-2">
            <div class='alert alert-warning' role='alert'>
              Een publiek fotoalbum verschijnt op de voorpagina, en is ook voor
              externen zichtbaar. Wees dus voorzichtig met wat je plaatst en zorg
              dat je toestemming hebt. Zie het mediabeleid voor meer informatie.
            </div>
          </div>
        </div>
      {{/if}}

      <div class='mb-3 row'>
        <label class='col-md-2 form-label'>Namens groep of commissie</label>

        <div class='col-sm-10'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{fn (mut @model.group)}}
            @selected={{@model.group}}
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          {{form-control-feedback (get @model.errors 'group')}}
        </div>
      </div>

      {{#if @model.isNew}}
        <div class="row">
          <div class="col-sm-10 offset-sm-2">
            <div class='alert alert-info'>
              In de volgende stap kun je de foto's uploaden
            </div>
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-sm-10 offset-sm-2">
            <div class='alert alert-info' role='alert'>
              <p> Geplaatste afbeeldingen moeten aan de volgende eisen voldoen: </p>
              <ul>
                <li>Resolutie: Maximaal 8192 pixels breed en hoog</li>
                <li>Bestandsgrootte: Maximaal 8 MB</li>
                <li>Bestandsformaat: .jpg, .jpeg of .png</li>
              </ul>
            </div>
            <DropZone
              @url={{@model.dropzoneEndpoint}}
              @headers={{@dropzoneHeaders}}
              @maxFilesize={{@model.maxFilesize}}
              @dictDefaultMessage="Sleep hier een nieuwe bestand naartoe of klik om een bestand te kiezen"
            />
          </div>
        </div>
      {{/if}}

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button {{on 'click' @onCancel}} type='button' class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>
