<div class='card'>
  <div class='card-header'>
    <h5>{{if @model.isNew 'Foto-album aanmaken' 'Foto-album wijzigen'}}</h5>
  </div>
  <div class='card-body'>
    <form {{action @onSubmit on='submit'}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='title'
        @label='Titel'
        @required={{true}}
      />
      <ModelForm::DateInput
        @model={{@model}}
        @property='date'
        @label='Datum van activiteit'
      />
      <ModelForm::CheckboxInput
        @model={{@model}}
        @property='publiclyVisible'
        @label='Zichtbaar voor externen'
      />

      {{#if @model.publiclyVisible}}
        <div class='alert alert-warning' role='alert'>
          Een publiek foto-album verschijnt op de voorpagina, en is ook voor
          externen zichtbaar. Wees dus voorzichtig met wat je plaatst en zorg
          dat je toestemming hebt. Zie het mediabeleid voor meer informatie.
        </div>
      {{/if}}

      <div class='mb-3 row'>
        <label class='col-md-2 form-label'>Namens groep of commissie</label>

        <div class='col-sm-10'>
          <PowerSelect
            @options={{@groups}}
            @onChange={{action (mut @model.group)}}
            @selected={{@model.group}}
            @searchEnabled={{true}}
            @searchField='name'
            @allowClear={{true}}
            as |group|
          >
            {{group.name}}
          </PowerSelect>

          {{form-control-feedback (get @model.errors 'group')}}
        </div>
      </div>

      {{#if @model.isNew}}
        <div class='alert alert-info'>
          In de volgende stap kun je de foto's uploaden
        </div>
      {{else}}
        <div class='alert alert-info' role='alert'>
          <p> Geplaatste afbeeldingen moeten aan de volgende eisen voldoen: </p>
          <ul>
            <li>Resolutie: Maximaal 8192 pixels breed en hoog</li>
            <li>Bestandsgrootte: Maximaal 8 MB</li>
            <li>Bestandsformaat: .jpg, .jpeg of .png</li>
          </ul>
        </div>
        <DropZone
          @url={{@model.dropzoneEndpoint}}
          @headers={{@dropzoneHeaders}}
          @maxFilesize={{@model.maxFilesize}}
        />
      {{/if}}

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button {{action @onCancel}} type="button" class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>