<div class='card'>
  <div class='card-header'>
    <h5>Forumpost bewerken</h5>
  </div>
  <div class='card-body'>
    <form {{action @onSubmit on='submit'}}>

      <div class='row'>
        <label
          class='col-sm-2'
          for='forum-post-form-message col-form-label form-control-label'
        >
          Bericht
        </label>
        <div class='col-sm-10'>
          <MdEditor @content={{@model.message}} @textareaId='forum-post-form-message' @setContent={{@setContent}} />
        </div>
      </div>

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button
          {{action @onCancel}}
          type="button"
          class='btn btn-default'
        >
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>