<div class='card'>
  <div class='card-header'>
    <h5>{{if @model.isNew 'Forumbericht aanmaken' 'Forumbericht wijzigen'}}</h5>
  </div>
  <div class='card-body'>
    <form {{on 'submit' (prevent-default @onSubmit)}}>

      <div class='row'>
        <label
          class='col-sm-2 col-form-label form-label'
          for='forum-post-form-message'
        >
          Bericht
        </label>
        <div class='col-sm-10'>
          <MdEditor @content={{@model.message}} @textareaId='forum-post-form-message' @setContent={{@setContent}} />
        </div>
      </div>

      <ModelForm::FormActions
        @errors={{@model.errors}}
        @errorMessage={{@errorMessage}}
      >
        <button
          {{on 'click' @onCancel}}
          type="button"
          class='btn btn-default'
        >
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>