<div class='card'>
  <div class='card-header'>
    <h5>Transactie aanmaken</h5>
  </div>
  <div class='card-body'>
    <form {{action @onSubmit on='submit'}}>
      <ModelForm::TextInput
        @model={{@model}}
        @property='description'
        @label='Beschrijving'
        @required={{true}}
      />
      <ModelForm::TextInput
        @model={{@model}}
        @property='amount'
        @label='Bedrag'
        @required={{true}}
        @type='number'
        @step='0.01'
      />

      <div class='mb-3 row'>
        <span class='col-md-2 form-control-label'>Gebruiker</span>

        <div class='col-md-10'>
          <PowerSelect
            @selected={{@model.user}}
            @options={{@users}}
            @onChange={{@onSetUser}}
            @searchField='fullName'
            as |user|
          >
            {{user.fullName}}
          </PowerSelect>
        </div>
      </div>

      <ModelForm::FormActions @model={{@model}} @errorMessage={{@errorMessage}}>
        <button {{action @onCancel}} type="button" class='btn btn-default'>
          Annuleren
        </button>
      </ModelForm::FormActions>
    </form>
  </div>
</div>