<div>
  <div class='container-fluid index-header'>
    <Index::Public::BackgroundImage />
    <div class="index-poster-overlay"></div>
    <p class="banner-slogan">
      {{t 'component.index.public.potentialMember.banner-1'}}
      <span>{{t 'component.index.public.potentialMember.banner-2'}}</span>
      {{t 'component.index.public.potentialMember.banner-3'}}
      <br/>
      {{t 'component.index.public.potentialMember.banner-4'}}
      <span>{{t 'component.index.public.potentialMember.banner-5'}}</span>
    </p>
    <div class="d-flex mt-3">
      <LinkTo @route="index" class="me-5">
        <button class="btn btn-lg btn-primary frontpage-button" type="button">
          {{t 'component.index.public.actionButtons.memberButton'}}
        </button>
      </LinkTo>
      <LinkTo @route="index">
        <button class="btn btn-lg btn-primary frontpage-button" type="button">
          {{t 'component.index.public.actionButtons.memberNowButton'}}
        </button>
      </LinkTo>
    </div>
  </div>

  <Index::Public::AboutAlpha />

  <Index::Public::YoutubeVideos />

  <div class="row">
    <Index::Public::Activities @class="col-12 col-lg-5" />
    <Index::Public::Photos @class="col-12 col-lg-7" />
  </div>
</div>
