<div class="public-index">
  <Public::Index::Header/>

  <Public::Index::AboutAlpha />

  <Public::Index::YoutubeVideos />

  <div class="row">
    <Public::Index::Activities @doubleActivityColumns={{doubleActivityColumns}} @activities={{activities}} @class="col-12 {{if doubleActivityColumns 'col-lg-8' 'col-lg-5'}}" />
    <Public::Index::PhotoAlbums @doubleActivityColumns={{doubleActivityColumns}} @class="col-12 {{if doubleActivityColumns 'col-lg-4' 'col-lg-7'}}" />
  </div>

  <Public::Index::SponsorBanner />
</div>
