<div class='index-special-promo' style={{backgroundImageStyle}}>
  <div class='container'>
    <div class='row flex-items-xs-center'>
      <div class='col-xs col-sm-10 col-md-8'>
        <h1>{{title}}</h1>
        <em>{{date}}</em>
        <p>{{text}}</p>
        <LinkTo
          @route='articles.article'
          @model={{123}}
          class='btn frontpage-button btn-lg float-xs-right'
        >
          {{buttonText}}
        </LinkTo>
      </div>
    </div>
  </div>
</div>