<EmberWormhole @to="navbar-wormhole">
  <PageActionsButtons @pageActions={{pageActions}}>
    <FilterBar @class="col-12 col-md" @filter={{search}} @sortedAttribute={{sortedAttribute}} @sortableAttributes={{sortableAttributes}} @sortedAscending={{sortedAscending}} @enter={{action "selectFirstItem"}} />
  </PageActionsButtons>
</EmberWormhole>

<div class="row">
  {{#each pagedModel as |article|}}
    <div class="article-col col-md-6">
      <LinkTo @route="articles.show" @model={{article}}>
        {{cards/article-card article showExcerpt=true useMaxHeight=true}}
      </LinkTo>
    </div>
  {{/each}}
</div>

<div class="row justify-content-center">
  <PageNumbers @content={{paginator}} />
</div>
