<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<Cards::ArticleCard @article={{@model}} />

{{#if (can 'show article comments of article' @model)}}
  <div class='card'>
    <div class='card-header'>
      <h5> {{capitalize (t 'model.articleComment.name.other')}} </h5>
    </div>

    <div class='card-body'>
      <div class='row'>
        <div class='col'>
          {{#each this.sortedArticleComments as |comment|}}
            {{#unless comment.isDeleted}}
              <div class='row'>
                <UserComment @comment={{comment}} />
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    {{#if (can 'create article-comments')}}
      <div class='card-footer'>
        {{#if @model.publiclyVisible}}
          <div class='alert alert-info' role='alert'>
            {{t 'template.articles.show.publicAlert'}}
            <br />
          </div>
        {{/if}}
        <div class='input-group'>
          <Input
            @value={{this.newArticleComment}}
            class='form-control'
            aria-label='Reactie'
            placeholder={{t 'template.articles.show.commentHint'}}
            minlength='1'
            maxlength='500'
            @enter={{this.submitArticleComment}}
          />
          <span class='input-group-btn'>
            <button
              class='btn btn-default'
              {{action 'submitArticleComment'}}
              type='button'
            >
              {{t 'tag.button.react'}}
            </button>
          </span>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}