<div class='ember-view'>
  <HeaderNav />
  <FlashNotice />
  <div id='ember-wormhole-destination'></div>

  <MenuSidebar />
  <PrivacyModal />

  <div class='app'>
    <div
      class='container main
        {{if session.isAuthenticated "authenticated "}}
        {{if layoutManager.leftSideBarExpanded "left-sidebar-expanded "}}
        {{if layoutManager.leftSideBarOpen "left-sidebar-open"}}'
    >
      <div class='row justify-content-center'>
        <div class='col-12 col-md-10 col-lg-9 col-xl-10'>
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
  <FooterNav
    @class={{concat
      'footer-holder '
      (concat
        (if layoutManager.leftSideBarExpanded 'left-sidebar-expanded ')
        (if layoutManager.leftSideBarOpen 'left-sidebar-open')
      )
    }}
  />
</div>