{{#if showNotFound}}
  {{partial '404-page-not-found'}}
{{else}}
  {{#if showStatic}}
    {{partial 'index/public'}}
  {{else}}
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-header">
            <h5> Oh oh...</h5>
          </div>
          <div class="card-body">
            <p class="card-text" data-test-error-message>
              {{message}}
            </p>
            <a href="." align="center" class="btn btn-primary">Herladen</a>
            <br>
            <p>
              Is het na een tijdje niet verholpen? Stuur dan een e-mail naar ict@csvalpha.nl met onderstaande details:
            </p>
            <hr>
            <p class="code">
              <small>
                {{model}}
              </small>
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
