<div class="row">
  <div class="col-md-12">
    <article class="lustrumcard">
      <header class="lustrumcard-header">
        <img class="lustrumcard-logo" src="{{rootUrl}}images/lustrum/lustrum-logo-basis-kleur.svg" alt="{{t "Lustrum logo"}}">
        <div class="lustrumcard-titles">
          <h1 class="lustrumcard-title">{{t "Bestemming"}}</h1>
          <p class="lustrumcard-subtitle">{{t "8"}}<sup>{{t "e"}}</sup>{{t " Lustrum der C.S.V. Alpha"}}</p>
        </div>
      </header>
      <img class="lustrumcard-line" src="{{rootUrl}}images/lustrum/lustrum-lijn-kleur.svg">
      <div class="lustrumcard-block">
        <p class="lustrumcard-text text-enlarged">
          {{t "C.S.V. Alpha is opgericht in 1980, dat betekend dat we dit jaar ons 8e lustrum mogen vieren. Dit doen we door het organiseren van verschillende activiteiten en er samen een mooi feestje van te maken."}}
        </p>
        <p class="lustrumcard-text">
          {{t "Dit alles doen we onder het thema 'Bestemming'. We willen dit jaar samen met u allen kijken waar we vandaan zijn gekomen en verder zoeken waar we heen mogen."}}
        </p>
        <p class="lustrumcard-text">
          {{t "Hieronder ziet u alle activiteiten die we organiseren als Lustrumcommissie. We hopen u alleen hier te zien."}}
        </p>
      </div>
    </article>
  </div>
</div>

{{#if model}}
  <div class="row lustrumactivities">
    <h2 class="col-md-12 lustrumactivities-title">{{t 'template.lustrum.activities'}}</h2>
    <div class="col-md-12 lustrumactivities-list">
      {{#each model as |activity index|}}
        {{#if (can 'show activities')}}
          {{#link-to 'activities.show' activity}}
            {{lustrum/lustrum-bar activity index}}
          {{/link-to}}
        {{else}}
          {{lustrum/lustrum-bar activity index expanded=true}}
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}
