{{#ember-wormhole to="navbar-wormhole"}}
  {{#page-actions-buttons pageActions}}
    <div class="col col-md-auto page-action">
      <button class="btn btn-primary" {{action "openModal"}}>
        {{fa-icon 'download'}}
        <span class="d-none d-md-inline"> {{t 'Fotoalbum downloaden'}} </span>
      </button>
    </div>
  {{/page-actions-buttons}}
{{/ember-wormhole}}

<div class="row">
  {{#each sortedPhotos as |photo|}}
    <div class="col-md-3 col-xs-6 photo-album-image-card">
      {{#link-to 'photo-albums.photo-album.photos.show' photo}}
        {{#if photo.amountOfComments}}
          <span class="comments-counter badge badge-info">
            {{fa-icon 'comments'}}
            {{photo.amountOfComments}}
          </span>
        {{/if}}
        <img class="image" src="{{photo.imageThumbUrl}}">
      {{/link-to}}
    </div>
  {{else}}
    <div class="alert alert-warning">
      {{#link-to photo-albums.photo-album.edit model}}{{t "Geen foto's gevonden, wil je die toevoegen?"}}{{/link-to}}
    </div>
  {{/each}}
</div>

{{#if modalIsOpen}}
  {{#ember-wormhole to="ember-wormhole-destination"}}
    <div class="modal d-block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"> {{modalTitle}} </h5>
          </div>
          <div class="modal-body">
            <p class="text-center">
              {{#unless downloadStarted}}
                {{fa-icon 'exclamation-circle' size='8x' prefix='far'}}
              {{/unless}}
              {{#if (and downloadStarted (not downloadFinished))}}
                {{fa-icon 'spinner' size='8x' spin=true}}
              {{/if}}
              {{#if downloadFinished}}
                {{fa-icon 'box-check' size='8x' prefix='far'}}
              {{/if}}
            </p>
            <p> {{modalText}} </p>
          </div>
          <div class="modal-footer">
            {{#unless downloadStarted}}
              <button type="button" class="btn btn-primary" {{action "downloadAlbum"}}>
                {{t 'Start de download'}}
              </button>
              <button type="button" class="btn btn-default" {{action "closeModal"}}> {{t 'Annuleren'}} </button>
            {{/unless}}
            {{#if (and downloadStarted (not downloadFinished))}}
              <button type="button" class="btn btn-default disabled"> {{t 'Bezig...'}} </button>
            {{/if}}
            {{#if  downloadFinished}}
              <button type="button" class="btn btn-primary" {{action "closeModal"}}> {{t 'Sluiten'}} </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/ember-wormhole}}
{{/if}}