<EmberWormhole @to='navbar-wormhole'>
  {{#page-actions-buttons pageActions}}
    <div class='col col-md-auto page-action'>
      <button class='btn btn-primary' {{action 'downloadAlbum'}} type='button'>
        <FaIcon @icon='download' />
        <span class='d-none d-md-inline'>Fotoalbum downloaden</span>
      </button>
    </div>
  {{/page-actions-buttons}}
</EmberWormhole>

{{model.group.name}}

<div class='row'>
  {{#each sortedPhotos as |photo|}}
    <div class='col-md-3 col-xs-6 photo-album-image-card'>
      <LinkTo
        @route='photo-albums.photo-album.photos.photo'
        @model={{photo.id}}
      >
        {{#if photo.amountOfComments}}
          <span class='comments-counter badge badge-info'>
            <FaIcon @icon='comments' />
            {{photo.amountOfComments}}
          </span>
        {{/if}}
        <img class='image' src='{{photo.imageThumbUrl}}' />
      </LinkTo>
    </div>
  {{else}}
    <div class='alert alert-warning'>
      <LinkTo @route='photo-albums.photo-album.edit' @model={{model.id}}>
        Geen foto's gevonden, wil je die toevoegen?
      </LinkTo>
    </div>
  {{/each}}
</div>